{% extends "../layout.html" %}
{% block pageTitle %}

Education and Childcare | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


    <section id="tl-student-subject--banner">
        <div class="tl-container">
            <div class="row no-gutters">
                <div class="col-md-8 my-auto">
                    <div class="tl-subject-banner-box">
                      <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                      <h1 style="margin-top: 60px">Education and Childcare</h1>
                      <p class="tl-lede">
                      During the two-year programme, students will learn the core knowledge and skills that underpin many jobs in early years education, childcare and teaching.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="tl-employer--boxes-white">
        <div class="tl-container">
              <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-bottom: 1em">Summary</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-7 tl-subjects-summary">
                      <div class="row">

                          <div class="col-md-5 tl-subjects-summary--border">
                              <h3>LEVEL 3</h3>
                              <p>qualification</p>
                          </div>
                          <div class="col-md-7 tl-subjects-summary--border">
                              <h3>26 WEEKS</h3>
                              <p>classroom study - over two years</p>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-4 tl-subjects-summary">
                      <div class="row">
                          <div class="col-md-12 tl-subjects-summary--border" style="margin-left: 0px">
                              <h3>9 WEEKS</h3>
                              <p>minimum working with an employer</p>
                              <p>(21 weeks if you take the Early Years Educator specialism)</p>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-md-8">
                    <h2 style="margin: 1.5em 0 1em 0">What you’ll need before you start</h2>

                    <p>Individual colleges and schools will have their own entry requirements. However, for most courses, we expect students will need either:</p>

                    <ul class="tl-list tl-list-bullet">
                        <li>5 GCSE passes (grade 4 or above), including English, maths and science</li>
                        <li>a pass in a relevant level 2 qualification</li>
                    </ul>

                    <p>For more information, <a class="tl-link tl-link--new" href="https://www.tlevels.gov.uk/students/find">check with the relevant school or college</a>.</p>

                  </div>
              </div>
        </div>
    </section>

    <section class="tl-employer--boxes-black">
      <div class="tl-container">
          <div class="row">
              <div class="col-md-8">
                  <h2 style="margin-bottom: 1em">What you can do with this<br> T Level</h2>
                  <p class="tl-margin-bottom-20">This course is suitable for anyone wanting a career in early years education, childcare or assisting teaching. Students can progress into roles such as:</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-10 tl-student-careers">
                  <div class="row">
                      <div class="col-md-4 tl-student-careers--grid">
                          <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/nursery-worker"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>nursery worker</a></h3>
                      </div>
                      <div class="col-md-4 tl-student-careers--grid">
                          <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/special-educational-needs-(sen)-teaching-assistant"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>special educational needs teaching assistant</a></h3>
                      </div>
                      <div class="col-md-4 tl-student-careers--grid">
                          <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/teaching-assistant"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>teaching assistant</a></h3>
                      </div>
                      <div class="col-md-4 tl-student-careers--grid">
                          <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/learning-mentor"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>learning mentor</a></h3>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-md-8">
                  <p class="tl-margin-top-30">Students can also use this T Level to do a related higher-level apprenticeship or degree course.</p>
              </div>
          </div>

      </div>
    </section>


    <section class="tl-employer--boxes-white">
        <div class="tl-container">
            <div class="row">
                <div class="col-md-8">
                  <h2 style="margin-bottom: 1em">What you’ll learn on this course</h2>

                  <div class="tl-margin-bottom-10">
                    <button class="accordion">Core content</button>
                      <div class="panel">
                        <p>All students will develop an understanding of:</p>
                        <ul class="tl-list tl-list-bullet">
                            <li>understanding the education and childcare sector from ages 0 to 19</li>
                            <li>child development</li>
                            <li>how to support children and young people’s education</li>
                            <li>safeguarding, health and safety and wellbeing</li>
                            <li>understanding and managing behaviour</li>
                            <li>observing and assessing children and young people</li>
                            <li>equality and diversity</li>
                            <li>special educational needs and disability</li>
                            <li>English as an additional language</li>
                            <li>working with parents, carers and wider families</li>
                            <li>working with agencies and services that support children, families and carers</li>
                            <li>reflective practice and other forms of professional development</li>
                        </ul>
                      </div>
                  </div>

                  <div class="tl-margin-bottom-10">
                    <button class="accordion">Options to specialise</button>
                      <div class="panel">
                        <p>In addition to the core content, each student has the option to study one of the following specialisms:</p>
                        <ul class="tl-list tl-list-bullet">
                            <li>early years education and childcare</li>
                            <li>assisting teaching</li>
                            <li>(from September 2021) supporting and mentoring students in further and higher education </li>
                        </ul>
                      </div>
                  </div>

                  <!-- <p class="tl-margin-top-30"><a class="tl-link tl-link--new" href="#">Download full course details (PDF, 200KB)</a></p> -->


                </div>
            </div>
        </div>
    </section>

    {% include protoversion + "/includes/searchSubjects.html" %}




    </main>
    {% endblock %}
