<section class="tl-employer--boxes-salmon tl-employer--cta">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-5 tl-margin-bottom-10 tl-margin-top-10">
                <h3>
                    GET INVOLVED NOW
                </h3>
                <p>
                    The Education and Skills Funding Agency runs a service to:
                </p>
                <ul class="tl-list tl-list-bullet tl-margin-bottom-0">
                    <li>
                        prepare employers to do industry placements now
                    </li>
                    <li>
                        match employers with local colleges and schools
                    </li>
                </ul>
                <br />
                <h2 class=""><i class="fas fa-phone"></i>08000 150 600</h2>
                <h2 class="tl-employer--cta--email"><i class="fas fa-envelope"></i><a class="tl-link" href="mailto:tlevel.placement@education.gov.uk">tlevel.placement@education.gov.uk</a></h2>

            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 tl-margin-bottom-10 tl-margin-top-10">
                <h3>NEED MORE DETAIL?</h3>
                <p>
                    There's a government-funded online resource to help you:
                </p>
                <ul class="tl-list tl-list-bullet tl-margin-bottom-0">
                    <li>
                        understand the logistics of industry placements
                    </li>
                    <li>
                        assess your organisation's readiness to deliver them
                    </li>
                </ul>

                <p>
                    <a class="employer--cta--link" href="#">Go to the industry placement toolkit</a>
                </p>
            </div>
        </div>
    </div>
</section>