<section class="tl-employer--boxes-salmon">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 tl-margin-bottom-10 tl-margin-top-10">
                <h3>
                    Get involved
                </h3>
                <p>We've created an online resource to help you:</p>
                <ul class="tl-list tl-list--arrows">
                    <li>understand industry placements in more detail</li>
                    <li>assess your organisation's readiness to deliver them</li>
                    <li>find local schools and colleges with students for you</li>
                </ul>
                <a class="tl-button-employer" href="/#">Go to the industry placement toolkit</a>

            </div>
            <div class="col-md-6 tl-margin-top-10">

            </div>
        </div>
    </div>
</section>