<nav id="tl-nav" class="tl-container">


    <h1 class="tl-nav--logo"><a href="/{{ protoversion }}" id="tl-nav--bar-logo"><span class="hidden">T Levels - The next level qualification</span></a></h1>
    <a class="tl-nav--hamburger" id="tl-nav--hamburger" aria-expanded="false" href="#navigation"><i><span class="hidden">Main navigation</span></i></a>


    <ul class="tl-nav--bar">
        <li>
            <a id="tl-nav--bar-home" href="/{{ protoversion }}/student">Student home</a>
        </li>

        <li>
            <a id="tl-nav--bar-about" href="/{{ protoversion }}/student/about">About T Levels</a>
        </li>
        <li>
            <a id="tl-nav--bar-why" href="/{{ protoversion }}/student/why">Why choose T Levels</a>
        </li>
        <li>
            <a id="tl-nav--bar-subjects" href="/{{ protoversion }}/student/subjects">T Level subjects</a>
        </li>

        <li>
            <a id="tl-nav--bar-find" href="/{{ protoversion }}/student/find">Find a T Level</a>
        </li>
    </ul>


</nav>