<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center tl-desktop-only">Find a <span class="no-break">T Level</span> near you</h2>
                    <h2 class="text-center tl-tablet-down"><a href="/{{ protoversion }}/student/find" class="tl-underline-none"><span class="text-outline--white">Find a </span><span class="text-purple tl-arrow--big">course near you</span></a></h2>
                    <form class="tl-search--form text-center tl-desktop-only" action="find">
                        <label for="Postcode" class="hidden">Postcode</label><input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <a href="/{{ protoversion }}/student/find" id="tl-find-button"  class="tl-button tl-button--orange" >Search</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>