{%- set assetPath = '/govuk/assets' -%}
<link rel="stylesheet" href="{{ asset_path }}stylesheets/ur.css">
<link rel="stylesheet" href="{{ asset_path }}stylesheets/fonts.css">

<!DOCTYPE html>
<html>
<body>

    <img class="ur-image-desktop" src="{{ asset_path }}images/ur/Landing1.jpg" alt="" />
    <img class="ur-image-mobile" src="{{ asset_path }}images/ur/Landing1-Mobile.jpg" alt="" />

    <a href="../" class="ur-link-student"></a>
    <a href="../industryplacements" class="ur-link-employer"></a>

</body>
</html>