body {
    font-family: 'Atlas Typewriter Web', 'Times New Roman', Arial;
    padding: 0;
    margin: 0;
}

.ur-image {
    width: 100%;
    height: auto;
}

.ur-image-mobile {
    width: 100%;
    height: auto;
    @media (min-width: 767px) {
        display: none;
    }
}

.ur-image-desktop {
    width: 100%;
    height: auto;

    @media (max-width: 767px) {
        display: none;
    }
}


.ur-link-student {
    position: absolute;
    display: block;
    width: 54vw;
    height: 13vw;
    top: 67vw;
    left: 5vw;

    @media (min-width: 767px) {
        width: 17vw;
        height: 5vw;
        top: 30vw;
        left: 10vw;
    }
}

.ur-link-employer {
    position: absolute;
    display: block;
    width: 55vw;
    height: 14vw;
    top: 143vw;
    right: 5vw;

    @media (min-width: 767px) {
        width: 17vw;
        height: 5vw;
        top: 30vw;
        right: 10vw;
    }
}

.ur-link-linkedin {
    position: absolute;
    display: block;
    width: 34vw;
    height: 22vw;
    top: 38vw;
    left: 29vw;
    cursor: pointer;
}
