{% extends "layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}



<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8 my-auto">
                <h1>About T Levels</h1>
                <p>Coming in September 2020, T Levels are a new two-year qualification that students can do after GCSEs. They represent the biggest reform to vocational training in a generation and will give young people the skills and experience they need to thrive in the workplace. </p>
            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/about1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    DESIGNED BY EMPLOYERS FOR EMPLOYERS
                </h2>
                <p>
                    In a competitive global marketplace, British employers and businesses want to recruit young people that are truly ready for work. The UK invests heavily in academic education, but you've told us that many graduates lack the skills or competencies for the workplace.
                </p>
                <p>
                    Employers like you have helped design T Levels to address these skills gaps. The new courses will give young people a head start in their careers, and help create a new pipeline of talent for British industry.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    A SIMPLER APPROACH TO VOCATIONAL TRAINING
                </h2>
                <p>We know that employers find the current range of vocational training options confusing and that you think many of the courses are not fit for purpose. T Levels are positioned as a clear and high quality, technical alternative to A levels. They are part of a broader strategy to simplify vocational training in the UK and create a system that you can trust and understand.</p>
            </div>
        </div>

    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6">
                <img class="tl-employer--big-image" src="{{ asset_path }}images/employer/about2.jpg" alt="" />
            </div>

            <div class="col-md-6  my-auto">
                <h2 class="tl-margin-bottom-30">
                    INTRODUCING INDUSTRY PLACEMENTS
                </h2>
                <p>
                    Every T Level student must complete an industry placement that lasts a minimum of 315 hours (or 45 days). That's why T Levels needs employers of all shapes and sizes to engage on a scale that this country has never seen before.
                </p>
                <p>
                    For employers, industry placements are a new and unique opportunity to catch an early sight of the young talent entering your industry. You'll be giving young people an essential introduction to the world of work, but also enjoying the many <a href="/employer/business-benefits" class="tl-link">business benefits of industry placements</a>.
                </p>
            </div>
        </div>
    </div>
</section>





<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    WHAT SUBJECTS, AND WHEN?
                </h2>
                <p>
                    T Levels launch in Autumn 2020 with 3 subjects. They will scale up each year to cover a huge range of skills - everything from coding to engineering; construction to design.
                </p>
            </div>

        </div>
        <div class="row justify-content-center ">
            <div class="col-md-10 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/about3.jpg" alt="" />
            </div>


        </div>

        </div>
</section>




<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    WHAT HAPPENS AFTER T LEVELS?
                </h2>
                <p>
                    T Level students will be in the job market within 6 months of finishing their industry placement with you. So if you're impressed by a student on a placement, they become likely candidates for your future workforce. And if you have an apprenticeship programme, T Level graduates are ideally placed to move onto a higher-level apprenticeship with you (at level 4 or above).
                </p>
            </div>
        </div>

        <div class="row tl-margin-top-50">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    ARE T LEVELS RIGHT FOR YOUR ORGANISATION?
                </h2>
                <p>
                    Before you decide to get involved, you should think about when and where relevant T Levels are being delivered, as well as whether your organisation is set up to offer industry placements.

                </p>

                <p><a class="tl-link" href="/employer/right-for-you">Are T Levels right for you?</a></p>
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-salmon">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Get involved now  <a class="tl-button-employer tl-button-employer-involved" href="/employer/get-involved">Find out how to get involved</a>

                </h3>

            </div>
        </div>
    </div>
</section>




{% endblock %}
