{% extends "layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}


<section id="tl-employer-right--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <h1 class="">BUSINESS BENEFITS OF INDUSTRY PLACEMENTS</h1>
                <p>T levels need employers like you to build positive relationships with local schools and colleges, and recruit their students into industry placements.</p>
                <p>
                    Every T Level will include an industry placement that lasts at least 315 hours (or 45 days). This means students get hands-on experience of working in their chosen area, and employers get early sight of the new talent coming into their sector. Together they can start to build a stronger workforce for the future.
                </p>


            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/bens1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Main benefits
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits">
                <div class="row">
                    <div class="col-md-4">
                        <h3><span>1.</span>A solution for entry-level jobs</h3>
                        <p>Industry placements are an ideal solution for entry-level skills shortages. They also help employers build a pipeline of talent for junior positions or higher-level apprenticeships. </p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>2.</span>Low-cost, effective recruitment</h3>
                        <p>Working with local schools and colleges, employers can raise awareness of employment opportunities directly with young people who are deciding on their future careers.</p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>3.</span>Develop young talent into your industry</h3>
                        <p>Industry placements give your business the opportunity to work with the young people entering your industry, helping to get them 'work ready' and able to handle the challenges ahead.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-12">
                <h2 >
                    BENEFITS FOR LARGE EMPLOYERS
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits tl-employer-benefits--purple">
                <div class="row">

                    <div class="col-md-4 my-auto">
                        <img class="tl-image--responsive" src="{{ asset_path }}images/employer/bens2.jpg" alt="" />
                    </div>

                    <div class="col-md-4">
                        <h3><span>4.</span>Enhanced brand image and profile</h3>
                        <p>A commitment to industry placements will raise the profile of your company, both locally and nationally, especially as T Levels gains more public exposure with your customers and clients.</p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>5.</span>More equality and diversity </h3>
                        <p>Industry placements give employers the chance to work with young people from all segments of society, including those from traditionally marginalised or excluded groups. Diversity helps organisations understand their customers better, creates better performing teams and increases innovation and creativity.</p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>6.</span>A more motivated workforce </h3>
                        <p>Research shows that jobs seem more valuable to those who have gained it after undertaking work experience. Motivated staff are less likely to leave, meaning lower staff turnover and lower recruitment costs.</p>
                    </div>

                    <div class="col-md-4">
                        <h3><span>7.</span>Going beyond traditional corporate social responsibility</h3>
                        <p>Traditionally, corporate social responsibility (CSR) has involved businesses giving some of their profits to help a particular social cause. Industry placements move beyond organisations beyond charity to help them create ‘shared value'. They still get to give back, but in a way that benefits both the community and their business.</p>
                    </div>

                    <div class="col-md-4">
                        <h3><span>8.</span>Increased chance of winning public sector contracts </h3>
                        <p>
                            Often public sector contracts require businesses to show how they are helping provide a social or community benefit, for example by supporting excluded groups. Through industry placements, employers can show their commitment to these causes, which may in turn help their bids for these contracts.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    BENEFITS FOR SMALL AND MEDIUM-SIZED EMPLOYERS
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits">
                <div class="row">
                    <div class="col-md-4">
                        <h3><span>9.</span>Improved management and mentoring skills</h3>
                        <p>Placement students create opportunities for staff to act as buddies, coaches or line managers. These roles help the business by giving existing staff management and mentorship skills, both of which have been shown to increase job satisfaction.</p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>10.</span>A fresh perspective</h3>
                        <p>For smaller employers, young people can be an invaluable source of new and interesting ideas that can change the way you think about doing business.</p>
                    </div>
                    <div class="col-md-4">
                        <h3><span>11.</span>Extra project support</h3>
                        <p>In an environment where staff are doing multiple roles and struggling to meet difficult deadlines, an industry placement student could help you support a key piece of work that you haven't had the time or resources to complete.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>








<section class="tl-employer--boxes-salmon">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Get involved now  <a class="tl-button-employer tl-button-employer-involved" href="/employer/get-involved">Find out how to get involved</a>

                </h3>

            </div>
        </div>
    </div>
</section>




{% endblock %}
