{% extends "layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}
<section id="tl-employer-right--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <h1 class="tl-margin-top-50">3 WAYS TO GET INVOLVED</h1>
                <p class="tl-lede">
                    The vision for T Levels is a complete re-engineering of vocational education so that modern Britain can compete globally. Its success relies on employers of all shapes and sizes engaging with vocational training on a scale that this country has never seen before.
                </p>
            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/involved1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white tl-employer--involved">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-1">
                <span class="tl-employer--number text-purple">1</span>
            </div>
            <div class="col-md-8">
                <h2>
                    START PREPARING FOR T LEVEL PLACEMENTS
                </h2>
                <p>
                    In September 2020, more than 2000 students will start T Level courses in:
                </p>
                <ul class="tl-list tl-list-bullet">
                    <li>Design, Surveying and Planning (in the construction route)</li>
                    <li>Digital Production, Design and Development (in the digital route)</li>
                    <li>Education (in the education and childcare route)</li>

                </ul>
                <p>
                    In preparation, T Level schools and colleges are already talking to local employers about delivering industry placements.
                </p>

                <p>
                    If you want to be involved in the first wave of T Level placements, <a class="tl-link" href="/employer/find">find T Level schools and colleges near you</a>
                </p>
            </div>
        </div>

    </div>
</section>


<section class="tl-employer--boxes-black tl-employer--involved">
    <div class="tl-container">
        <div class="row">

            <div class="col-md-8">
                <h2>
                    OFFER INDUSTRY PLACEMENTS NOW
                </h2>
                <p>To give T Levels the greatest chance of success, the government is running a special scheme to give employers, schools and colleges practice in delivering industry placements.</p>

                <p>Right now, students from more than 300 schools and colleges across England are looking to do industry placements in a wide range of skill areas.</p>

                <p>If there are no relevant T Levels being rolled out in your area or you just want to start building your organisation's industry placement capability, we can <a href="#" class="tl-link tl-link--white">introduce you to local schools and colleges</a>.</p>

            </div>
            <div class="col-md-1">
                <span class="tl-employer--number text-outline--white">2</span>
            </div>
        </div>

    </div>
</section>



<section class="tl-employer--boxes-white tl-employer--involved">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-1">
                <span class="tl-employer--number text-purple">3</span>
            </div>
            <div class="col-md-8">
                <h2>
                    SPREAD THE WORD
                </h2>
                <p>If you feel passionately about the potential benefits of T Levels for British employers, you can join the T Level ambassador network.</p>

                <p>In addition to offering industry placements, ambassadors:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>encourage other employers to offer industry placements</li>
                    <li>speak at stakeholder events about the benefits of industry placements</li>
                    <li>promote T Levels through social media channels, blogs and opinion pieces</li>
                    <li>gather feedback from local employers as well as schools and colleges on T Level policy</li>
                </ul>
                <p>
                    Find out how to <a class="tl-link" href="#">join the T Level ambassador network</a>.
                </p>

            </div>
        </div>

    </div>
</section>








<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    STILL NEED MORE INFORMATION?
                </h2>

                <p>Visit GOV.UK to learn more about:</p>
                <ul class="tl-list tl-list-bullet">
                    <li><a href="https://www.gov.uk/government/publications/introduction-of-t-levels/introduction-of-t-levels" class="tl-link tl-link--white">the introduction of T Levels</a></li>
                    <li><a class="tl-link tl-link--white" href=https://www.gov.uk/guidance/industry-placements">industry placements</a></li>
                </ul>
                <p>The Strategic Development Network has produced a range of government-funded support materials to <a href="#" class="tl-link tl-link--white">help employers prepare for T Level industry placements</a>.</p>
            </div>
        </div>
    </div>
</section>




{% endblock %}
