{% extends "layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block body_id %}tl-employer-right{% endblock %}

{% block content %}
<section id="tl-employer-right--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <h1 class="tl-margin-top-50">ARE T LEVELS RIGHT FOR YOUR ORGANISATION?</h1>
                <p class="tl-lede">T levels need employers like you to build positive relationships with local schools and colleges, and recruit their students into industry placements.</p>
                <p class="tl-lede">
                    Find out if T Level industry placements are right for you, and - if not - how your organisation can still take part.
                </p>
                <div class="tl-employer-contents">
                    <div class="row">
                        <div class="col-md-12"><h3 class="tl-margin-top-20 tl-fontsize-20">Contents</h3></div>
                        <div class="col-md-6">
                            <p><a href="#1">Are there T Levels relevant to the work you do?</a></p>
                            <p><a href="#2">Which local schools and colleges are delivering T Levels?</a></p>
                            <p><a href="#3">What if there are no relevant T Levels near you?</a></p>
                        </div>
                        <div class="col-md-6">
                            <p><a href="#4">How much time and effort will it take?</a></p>
                            <p><a href="#5">What are the benefits?</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/right1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 id="1" class="tl-margin-bottom-30">
                    ARE THERE T LEVELS RELEVANT TO THE WORK YOU DO?
                </h2>
                <p>
                    There will eventually be 25 T Levels across 11 different "routes" or skill areas.
                </p>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-8">
                <h3>THE FIRST 3 T LEVELS</h3>
                <p>Coming in September 2020:</p>
            </div>
            <div class="col-md-12 tl-employer-right-route">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Education </h3>
                        <p>(in the education and childcare route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Design, Surveying and Planning</h3>
                        <p>(in the construction route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Digital Production, Design and Development  </h3>
                        <p>(in the digital route)</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-8">
                <h3>The NEXT 7 T LEVELS</h3>
                <p>Coming September 2021:</p>
            </div>
            <div class="col-md-12 tl-employer-right-route">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Digital Support and Services</h3>
                        <p>(in the digital route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Digital Business Services</h3>
                        <p>(in the digital route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Onsite Construction</h3>
                        <p>(in the construction route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Building Services Engineering </h3>
                        <p>(in the construction route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Health</h3>
                        <p>(in the health and science route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Healthcare Science</h3>
                        <p>(in the health and science route)</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Science</h3>
                        <p>(in the health and science route)</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3 class="tl-margin-top-50">
                    Are these courses relevant to you?
                </h3>
                <p>
                    If your organisation - or a team or department within it - works in any of these areas, you can <a class="tl-link" href="/find">look for local schools and colleges</a> and start discussions about how to work with their students in the future.
                </p>
                <p>
                    Even if none of these courses are relevant, employers can still <a class="tl-link" href="/employer/get-involved">get involved in offering industry placements now</a>. There are pilot schemes in operation across the country, covering a much wider range of skill areas.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 id="2" class="tl-margin-bottom-30">
                    WHICH LOCAL SCHOOLS AND COLLEGES ARE DELIVERING T LEVELS?
                </h2>
                <p>54 schools and colleges will deliver T Levels in September 2020 and another 64 will deliver T Levels the following year.</p>
                <p>Find out if a school or college will be offering <a class="tl-link tl-link--white" href="/employer/find">T Levels near you</a>.</p>
            </div>
        </div>

    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/right2.jpg" alt="" />
            </div>

            <div class="col-md-6  my-auto">
                <h2 id="3" class="tl-margin-bottom-30">
                    WHAT IF THERE ARE NO RELEVANT T LEVELS NEAR YOU?
                </h2>
                <p>
                    If there aren't any relevant T Levels near you for a bit, don't worry - there are more than 200 schools and colleges looking to try out industry placements in preparation for the future.
                </p>
                <p>
                    Find out how you can <a class="tl-link" href="/employer/get-involved">get involved in offering industry placements now</a>.
                </p>
            </div>
        </div>
    </div>
</section>





<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 id="4" class="tl-margin-bottom-30">
                    HOW MUCH TIME AND EFFORT WILL IT TAKE?
                </h2>

                <div class="row">
                    <div class="col-md-4 my-auto">
                        <img class="tl-image--responsive" src="{{ asset_path }}images/employer/right3.jpg" alt="" />
                    </div>
                    <div class="col-md-8 my-auto">
                        <h3>How long it lasts</h3>
                        <p>Each industry placement lasts a minimum of 315 hours (around 45 days). This can be done as a single block of time or as a set number of days or hours per week. </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="tl-margin-top-50">
                    What you need in place
                </h3>
                <p>Your organisation must have:</p>

                <div class="row">
                    <div class="col-md-4">
                        <img class="tl-image tl-middle" src="{{ asset_path }}images/employer/right4.jpg" alt="" />

                        <p>
                            a line manager to support and mentor your placement student, helping them to understand your business
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img class="tl-image tl-middle" src="{{ asset_path }}images/employer/right5.jpg" alt="" />

                        <p>
                            a safe environment for the student to work in
                        </p>
                    </div>

                    <div class="col-md-4">
                        <img class="tl-image tl-middle" src="{{ asset_path }}images/employer/right6.jpg" alt="" />

                        <p>
                            opportunities for the student to develop their technical skills within your industry
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <h3 class="tl-margin-top-50">Support from schools and colleges</h3>
                <p>
                    After you have found a school or college you'd like to work with, they will support you at every stage of the process. This includes helping you:
                </p>
                <ul class="tl-list tl-list-bullet">
                    <li>get your organisation ready for placements</li>
                    <li>design the placement</li>
                    <li>sort out the necessary paperwork, for example legal, health and safety and insurance documents you may need</li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3 class="tl-margin-top-50">Paying your placement student</h3>
                <p>
                    It's entirely your choice whether you pay the student or not.

                </p>
                <p><a href="https://www.gov.uk/guidance/industry-placements" class="tl-link tl-link--white">More about delivering industry placements (on GOV.UK)</a></p>
            </div>
        </div>


    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">

            <div class="col-md-8">
                <h2 id="5" class="tl-margin-bottom-30">
                    WHAT ARE THE BENEFITS?
                </h2>
                <p>
                    If you think your organisation can offer industry placements, they'll bring many benefits, including:
                </p>

                <ul class="tl-list tl-list-bullet">
                    <li>a cost-effective solution for entry-level jobs</li>
                    <li>new talent with fresh, imaginative ideas</li>
                    <li>increased diversity in your workforce</li>

                </ul>
                <p><a class="tl-link" href="/employer/business-benefits">More ways T Levels can benefit your business</a></p>
            </div>
        </div>
    </div>
</section>



<section class="tl-employer--boxes-salmon">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    Get involved now  <a class="tl-button-employer tl-button-employer-involved" href="/employer/get-involved">Find out how to get involved</a>

                </h3>

            </div>
        </div>
    </div>
</section>




{% endblock %}
