{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block body_id %}tl-employer-about{% endblock %}
{% block content %}




<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <h1>About T Levels</h1>
                <p class="tl-lede">
                    In September 2020, we launch T Levels: a new qualification for students who've finished GCSEs. They'll be the biggest reform to vocational training in a generation, giving young people the attitude, skills and experience to thrive in the workplace.
                </p>
            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/about1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    DESIGNED BY EMPLOYERS FOR EMPLOYERS
                </h2>
                <p>
                    In a competitive global marketplace, British employers want young recruits that can adapt quickly to the challenges of work. We've worked with employers to make sure T Levels are aligned with the skills that your industries need.
                </p>

            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/about4.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto">
                <h2 class="tl-margin-bottom-30">
                    A SIMPLER APPROACH TO VOCATIONAL TRAINING
                </h2>
                <p>
                    We know employers find the current range of vocational training options confusing, and that the courses aren't always fit for purpose. T Levels will change this by providing a clear and high quality, technical alternative to A levels. They're part of our strategy to simplify vocational training in the UK and create a system that you can trust and understand.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">

            <div class="col-md-6  my-auto">
                <h2 class="tl-margin-bottom-30">
                    INTRODUCING INDUSTRY PLACEMENTS
                </h2>
                <p>
                    Every T Level student completes an industry placement that lasts a minimum of 315 hours (or 45 days). Industry placements give you a unique opportunity to help develop new talent and get young people work ready. They also bring many <a href="business-benefits" class="tl-link" style="color: #fff">business benefits</a>.
                </p>

            </div>
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/about5.jpg" alt="" />
            </div>

        </div>
    </div>
</section>







<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    ARE THEY RIGHT FOR YOU?
                </h2>
                <p>
                    In preparation for T Levels, employers are already offering industry placements across a range of skills - from creative, design and digital to construction, engineering and manufacturing. If you think industry placements could help your organisation find and develop new talent, <a href="skills-available" class="tl-link">check what skills are available</a>.
                </p>
            </div>
        </div>
    </div>
</section>

{% include protoversion + "/includes/employerCTA.html" %}

{% endblock %}
