{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}




<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <h1>What an industry placement costs</h1>
                <p class="tl-lede">
                    ????
                </p>
            </div>
            <div class="col-md-4 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/about1.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    HOW MUCH TIME?
                </h2>
                <p>
                    An industry placement lasts for a minimum of 315 hours (or 45 days). Designed to be flexible, you can deliver them as a:
                </p>
                <ul class="tl-list tl-list-bullet">
                    <li>block of days</li>
                    <li>series of blocks</li>
                    <li>'day release', for example one or two days a week</li>
                </ul>
                <p>You'll spend some time upfront finding the right student, and our <a class="tl-link" href="#">industry placement toolkit</a> can help you with that.</p>

            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/about4.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto">
                <h2 class="tl-margin-bottom-30">
                    HOW MUCH EFFORT?
                </h2>
                <p>
                    Before a student starts, you must:
                </p>
                <ul class="tl-list tl-list-bullet">
                    <li>ensure that the work environment is safe</li>
                    <li>
                        have a line manager to support the student and provide an appraisal of their time on placement
                    </li>
                </ul>
                <p>
                    You'll receive support at every stage of the process from your partner school or college, who will make sure that students are ready to be productive members of your workforce. They'll help you plan and set objectives for the industry placement.
                </p>
            </div>
        </div>

    </div>
</section>

<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">

            <div class="col-md-6  my-auto">
                <h2 class="tl-margin-bottom-30">
                    HOW MUCH MONEY?
                </h2>
                <p>
                    Apart from the financial cost of managing the placement, industry placements should cost you very little. There is no legal requirement or expectation that students will be paid, as it is part of a course. However, you can pay students if you wish.
                </p>

            </div>
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/about5.jpg" alt="" />
            </div>

        </div>
    </div>
</section>







<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-30">
                    WHAT ABOUT OTHER COSTS?
                </h2>
                <p>
                    Your school or college has access to funds, and may be able to help with upfront costs, such as providing protective gear, DBS checks, specialist equipment etc.
                </p>
            </div>
        </div>
    </div>
</section>

{% include protoversion + "/includes/employerCTA.html" %}

{% endblock %}
