{% extends "../layout.html" %}
{% block pageTitle %}
  Find a T Level
{% endblock %}

{% block body_id %}tl-find{% endblock %}


{% block content %}
<section id="tl-map" class="tl-background--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col">
                <div class="tl-box tl-box--orange">
                    <h2 class="text-center">Find your nearest T Level</h2>
                    <p class="tl-text-big tl-margin-0">Find a college, school or other provider offering T Levels in 2020</p>
                </div>

            </div>
        </div>

        <div class="row no-gutters">
            <div class="col">
                <div class="tl-map" id="tl-find--map">
                    <div id="map" class="tl-map--map" aria-hidden="true">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.47339407503!2d-0.24167977408525754!3d51.52855824335485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon!5e0!3m2!1sen!2suk!4v1573126497655!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center text-outline--white">Search</h2>
                    <form class="tl-search--form text-center">
                        <label for="Postcode" class="hidden">Postcode</label>
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <label for="tl-qualifications" class="hidden">Select a qualification</label>
                        <input type="hidden" asp-for="Qualification" />
                        <input type="hidden" asp-for="ShouldSearch" />
                        <input id="MaxResultCount" value="5" type="hidden" />
                        <select class="tl-input tl-input--select" id="tl-qualifications"><option value="0">All 2020 courses</option><option value="1">Digital production, design and development</option><option value="2">Design, surveying and planning</option><option value="3">Education</option></select>
                        <input id="tl-find-button" type="submit" class="tl-button tl-button--orange" value="Search" />

                        <br />
                        <span class="tl-validation--message field-validation-error">You must enter a real postcode</span>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-results" class="tl-container">
    <div class="row no-gutters justify-content-md-center">
        <div id="tl-search-results" class="col-md-8">
            <div class="tl-results-box">
                <h3>
                    <span class="tl-results-box--distance">6 miles </span>University College Birmingham
                </h3>
                <p>Summer Row, Birmingham</p>
                <p>
                    <strong>Courses starting September 2020</strong>
                </p>
                <ul class="tl-list tl-list-small">
                    <li>Education</li>
                </ul>
                <a href="https://www.ucb.ac.uk/home.aspx" class="tl-link tl-link--external" id="tl-find--providersite">Go to provider website</a>
            </div>
            <br>
            <div class="tl-results-box">
                <h3>
                    <span class="tl-results-box--distance">7 miles </span>Lordswood Girls' School &amp; Sixth Form Centre
                </h3>
                <p>Knightlow Rd, Birmingham</p>
                <p>
                    <strong>Courses starting September 2020</strong>
                </p>
                <ul class="tl-list tl-list-small">
                    <li>Education</li>
                </ul>
                <a href="http://www.lordswoodgirls.co.uk/" class="tl-link tl-link--external" id="tl-find--providersite">Go to provider website</a>
            </div>
            <br>
            <div class="tl-results-box">
                <h3>
                    <span class="tl-results-box--distance">9 miles </span>Sandwell Academy
                </h3>
                <p>Halfords Lane, West Bromwich</p>
                <p>
                    <strong>Courses starting September 2020</strong>
                </p>
                <ul class="tl-list tl-list-small">
                    <li>Digital production, design and development</li>
                </ul>
                <a href="https://www.sandwellacademy.com/page/home.aspx" class="tl-link tl-link--external" id="tl-find--providersite">Go to provider website</a>
            </div>
            <br>
            <div class="tl-results-box">
                <h3>
                    <span class="tl-results-box--distance">13 miles </span>Dudley College of Technology
                </h3>
                <p>The Art and Design Centre, Venture Way, Brierley Hill, Dudley</p>
                <p>
                    <strong>Courses starting September 2020</strong>
                </p>
                <ul class="tl-list tl-list-small">
                    <li>Digital production, design and development</li>
                </ul>
                <a href="https://www.dudleycol.ac.uk" class="tl-link tl-link--external" id="tl-find--providersite">Go to provider website</a>
            </div>
            <br>
            <div class="tl-results-box">
                <h3>
                    <span class="tl-results-box--distance">13 miles </span>Dudley College of Technology
                </h3>
                <p>The Broadway, Dudley</p>
                <p>
                    <strong>Courses starting September 2020</strong>
                </p>
                <ul class="tl-list tl-list-small">
                    <li>Design, surveying and planning</li>
                    <li>Education</li>
                </ul>
                <a href="https://www.dudleycol.ac.uk" class="tl-link tl-link--external" id="tl-find--providersite">Go to provider website</a>
            </div>
            <br>
        </div>
    </div>
    <p class="text-center">
        <button id="tl-next" class="tl-button tl-button--white text-center tl-margin-bottom-50">Load next 5 providers</button>
    </p>
</section>

{% endblock %}
