{% extends "../layout.html" %}
{% block pageTitle %}

Health | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


    <section id="tl-student-subject--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8 my-auto">
                <div class="tl-subject-banner-box">
                  <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                  <h1 style="margin-top: 60px">Health</h1>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
              <h3 style="margin-bottom: 30px">Course overview</h3>

              <p>Your course starts with the essential knowledge and skills to work in health or science including how the industry works, core scientific concepts and key regulations including managing information, health and safety and good scientific/clinical practice.</p>

              <p>You can specialise in dental nursing or supporting healthcare. If you choose supporting healthcare, you will focus on at least one of these areas:</p>

              <ul class="tl-list tl-list-bullet">
                <li>adult nursing care</li>
                <li>care of children and young people</li>
                <li>mental health</li>
                <li>midwifery</li>
                <li>theatre</li>
                <li>therapy</li>
              </ul>
            </div>
        </div>
    </div>
</section>

{% include protoversion + "/includes/searchSubjects.html" %}




    </main>
    {% endblock %}
