#tl-banner-employer {
    color: white;
    background-color: black;

}



.tl-banner--nextlevel-employer {
    background-image: url("../images/employer/thenextlevel.jpg");
    max-height: 30vw;


    background-position: center;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
    height: 363px;
}



#tl-employer-home--banner {
    background-image: url("../images/employer/employerbanner1.jpg");
    background-position: center;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    padding: 0 20px;

    * {
        color: white;
    }

    h1 {
        font-size: 5vw;
        line-height: 4.8vw;

        @media (min-width: 1150px) {
            font-size: 68px;
            line-height: 58px;
        }
    }

    p {
        padding: 20px 0;
    }

    .tl-employer-banner-box {
        padding: 6vw 0;
    }
}

#tl-employer-about--banner {
    background-color: $purple;
    color: white;
    background-repeat: no-repeat;
    padding: 0 20px;
    overflow: hidden;

    * {
        color: white;
    }

    h1 {
        font-size: 5vw;
        line-height: 4.8vw;

        @media (min-width: 1150px) {
            font-size: 68px;
            line-height: 58px;
        }
    }

    p {
        padding: 20px 0;
    }

    .tl-employer-banner-box {
        padding: 6vw 0;
    }
}

#tl-employer-right--banner {
    background-color: $purple;
    color: white;
    background-repeat: no-repeat;
    padding: 0 20px;
    overflow: hidden;

    * {
        color: white;
    }
    h1 {
        font-size: 4vw;
        line-height: 3.8vw;
    }

    .tl-employer--big-image {
        max-height: 650px;
    }



    .tl-employer-banner-box {
        padding: 6vw 0;
    }
}

.tl-employer-contents {
    border-top: 3px solid white;
    margin: 50px 0;
}