.tl-nav--logo--landing a {
    padding: 10px 0;
    float: left;
    background: url("../images/logomedium.svg") no-repeat left center;
    min-width: 200px;
    min-height: 40px;
}

.tl-nav--logo--employer a {
    margin-top: 15px;
    float: left;
    background: url("../images/logomedium.svg") no-repeat left center;
    min-width: 200px;
    min-height: 40px;
}

.tl-nav--employer-switch {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 25px;
    text-align: right;
    font-family: 'LL Circular Black Italic Web', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.tl-nav--bar-employer {

    li a:hover {
        border-bottom: 2px solid $purple;
        text-decoration: none;
    }
}

.tl-nav--employer {
    position: relative;
    display: block !important;
    overflow: visible !important;

    .tl-nav--hamburger {
        float: right;
    }
}


/* Active states*/
#tl-employer-home {
    #tl-nav--bar-employer-home {
        border-bottom: 2px solid $purple;
    }
}


#tl-employer-about {
    #tl-nav--bar-employer-about {
        border-bottom: 2px solid $purple;
    }
}

#tl-employer-right {
    #tl-nav--bar-employer-right {
        border-bottom: 2px solid $purple;
    }
}

#tl-employer-benefits {
    #tl-nav--bar-employer-benefits {
        border-bottom: 2px solid $purple;
    }
}

#tl-employer-involved {
    #tl-nav--bar-employer-involved {
        border-bottom: 2px solid $purple;
    }
}







