{% extends "../layout.html" %}
{% block pageTitle %}
  T Level Subjects
{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
<section id="tl-subjects-content-1" class="tl-background--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets11.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--orange">
                    <h1><span class="no-break">T Level</span> subjects</h1>
                    <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England. </p>
                    <p>More T Levels start in the following years until all 24 are available, covering everything from agriculture to catering and engineering to science.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- {% include protoversion + "/includes/searchnew.html" %} -->


<section id="tl-subjects-content-2" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2 style="margin-bottom: 0.7em">September 2020 onwards</h2>
                <ul class="tl-list--link tl-list-bullet">
                    <li>
                        <a href="subjects-design_surveying_planning"  class="tl-link tl-link--new">Design, Surveying and Planning for Construction</a>
                    </li>

                    <li>
                        <a href="subjects-digital_production" class="tl-link tl-link--new">Digital Production, Design and Development</a>
                    </li>
                    <li>
                        <a href="subjects-education_childcare" class="tl-link tl-link--new">Education and Childcare</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets12.jpg" alt="" />
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets4.jpg" alt="" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2>September 2021 onwards</h2>

                <ul class="tl-list--link tl-list-bullet">
                    <li>
                        <a href="subjects-building_services_engineering" class="tl-link tl-link--new">Building Services Engineering</a>
                    </li>
                    <li>
                        <a href="subjects-digital_business_services" class="tl-link tl-link--new">Digital Business Services</a>
                    </li>
                    <li>
                        <a href="subjects-digital_support_services" class="tl-link tl-link--new">Digital Support Services</a>
                    </li>
                    <li>
                        <a href="subjects-health" class="tl-link tl-link--new">Health</a>
                    </li>
                    <li>
                        <a href="subjects-healthcare_science" class="tl-link tl-link--new">Healthcare Science</a>
                    </li>
                    <li>
                        <a href="subjects-onsite_construction" class="tl-link tl-link--new">Onsite Construction</a>
                    </li>
                    <li>
                        <a href="subjects-science" class="tl-link tl-link--new">Science</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2>September 2022 onwards</h2>
                <ul class="tl-list tl-list-bullet">
                    <li>Accounting</li>
                    <li>Design and development</li>
                    <li>Finance</li>
                    <li>Maintenance, installation and repair</li>
                    <li>Management and administration</li>
                    <li>Manufacturing, processing and control</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets14.jpg" alt="" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets15.jpg" alt="" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2>September 2023 onwards</h2>
                <ul class="tl-list tl-list-bullet">
                    <li>Agriculture, land management and production</li>
                    <li>Animal care and management</li>
                    <li>Catering</li>
                    <li>Craft and design</li>
                    <!-- <li>Cultural heritage and visitor attractions</li> -->
                    <li>Hair, beauty and aesthetics</li>
                    <li>Human resources</li>
                    <li>Legal</li>
                    <li>Media, broadcast and production</li>
                </ul>

            </div>
        </div>
    </div>
</section>

{% include protoversion + "/includes/searchRed.html" %}



{% endblock %}
