{% extends "../layout.html" %}
{% block pageTitle %}


Digital Production, Design and Development  | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


    <section id="tl-student-subject--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8 my-auto">
                <div class="tl-subject-banner-box">
                  <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                  <h1 style="margin-top: 60px">Digital Production, Design and Development</h1>
                  <p class="tl-lede">
                  During the two-year programme, students will learn the core knowledge and skills that underpin most jobs in the digital industry.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
              <h2 style="margin-bottom: 1em">Summary</h2>

              <p>Learn the essentials behind all digital roles by understanding data and digital systems, how software and business interact, security, testing, planning and legal issues. You then build on this by developing specialist skills in understanding user needs and designing and developing digital systems.</p>

              <h2 style="margin: 1.5em 0 1em 0">What you’ll need before you start</h2>

              <p>Individual colleges and schools will have their own entry requirements. However, for most courses, we expect students will need either:</p>

              <ul class="tl-list tl-list-bullet">
                  <li>5 GCSE passes (grade 4 or above), including English, maths and science</li>
                  <li>a pass in a relevant level 2 qualification</li>
              </ul>

              <p>For more information, <a class="tl-link tl-link--new" href="https://www.tlevels.gov.uk/students/find">check with the relevant school or college</a>.</p>

            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
  <div class="tl-container">
      <div class="row">
          <div class="col-md-8">
              <h2 style="margin-bottom: 1em">What you can do with this<br> T Level</h2>
              <p class="tl-margin-bottom-20">This course is suitable for anyone wanting a career in software production and design.
              Students can progress into roles such as:</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 tl-employer-benefits">
              <div class="row">
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/software-developer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>programmer</a></h3>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/web-designer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>web designer</a></h3>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/business-analyst"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>IT business analyst</a></h3>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="#"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>systems designer</a></h3>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="#"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>software development technician</a></h3>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/digital-marketer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>digital marketer</a></h3>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-8">
              <p class="tl-margin-top-30">Students can also use this T Level to do higher study on courses such as:</p>
              <ul class="tl-list tl-list-bullet">
                  <li>Computer Games Programming BSc</li>
                  <li>Software Engineering BSc</li>
                  <li>Virtual Reality Design BA</li>
                  <li>Computing BSc</li>
                  <li>Digital Media Design and Development BSc</li>
                  <li>Computer Science BSc</li>
              </ul>
          </div>
      </div>

  </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
              <h2 style="margin-bottom: 1em">What you’ll learn on this course</h2>

              <div class="tl-margin-bottom-10">
                <button class="accordion">Section 1</button>
                  <div class="panel">
                    <p>Lorem ipsum...</p>
                  </div>
              </div>

              <button class="accordion">Section 2</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div>

              <button class="accordion">Section 3</button>
              <div class="panel">
                <p>Lorem ipsum...</p>
              </div>


            </div>
        </div>
    </div>
</section>


{% include protoversion + "/includes/searchRed.html" %}




    </main>
    {% endblock %}
