{% extends "../layout.html" %}
{% block pageTitle %}

Design, Surveying and Planning for Construction | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


<section id="tl-student-subject--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8 my-auto">
                <div class="tl-subject-banner-box">
                  <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                  <h1 style="margin-top: 60px">Design, Surveying and Planning for Construction</h1>
                  <p class="tl-lede">
                  During the two-year programme, students will learn the core knowledge and skills that underpin many jobs in the construction industry, especially construction design and surveying.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
          <div class="row">
              <div class="col-md-12">
                <h2 style="margin-bottom: 1em">Summary</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 tl-subjects-summary">
                  <div class="row">

                      <div class="col-md-3 tl-subjects-summary--border">
                          <h3>LEVEL 3</h3>
                          <p>qualification</p>
                      </div>
                      <div class="col-md-3 tl-subjects-summary--border">
                          <h3>40 WEEKS</h3>
                          <p>classroom study</p>
                      </div>
                      <div class="col-md-4 tl-subjects-summary--border">
                          <h3>9 WEEKS</h3>
                          <p>minimum working with an employer</p>
                      </div>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                <h2 style="margin: 1.5em 0 1em 0">What you’ll need before you start</h2>

                <p>Individual colleges and schools will have their own entry requirements. However, for most courses, we expect students will need either:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>5 GCSE passes (grade 4 or above), including English, maths and science</li>
                    <li>a pass in a relevant level 2 qualification</li>
                </ul>

                <p>For more information, <a class="tl-link tl-link--new" href="https://www.tlevels.gov.uk/students/find">check with the relevant school or college</a>.</p>

              </div>
          </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
  <div class="tl-container">
      <div class="row">
          <div class="col-md-6">
              <h2 style="margin-bottom: 1em">What you can do with this T Level</h2>
          </div>
      </div>

      <div class="row">
            <div class="col-md-6 my-auto">

              <p>This course is suitable for anyone wanting a career in construction, specifically in surveying and design, civil engineering, building
                services design, or hazardous materials surveying.</p>

              <p class="tl-margin-bottom-20">Students can progress into roles such as:</p>
              <ul class="tl-list tl-list-bullet">
                  <li>civil engineer</li>
                  <li>construction manager</li>
                  <li>surveyor</li>
                  <li>building services engineer</li>
                  <li>construction designer</li>
                  <li>architect</li>
              </ul>
              <p>Students can also use this T Level to do a related higher-level apprenticeship or degree course.</p>

            </div>
            <div class="col-md-6">
                <img class="tl-image--responsive tl-margin-left-30" src="/public/v8/images/Subjects_Digital4.png" alt="">
            </div>

        </div>

  </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
              <h2 style="margin-bottom: 1em">What you’ll learn on this course</h2>

              <div class="tl-margin-bottom-10">
                <button class="accordion">General construction</button>
                  <div class="panel">
                    <p>All students will develop an understanding of:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>health and safety</li>
                        <li>the science behind building design, surveying and planning</li>
                        <li>making accurate and appropriate measurements</li>
                        <li>construction methods</li>
                        <li>building regulations and standards</li>
                        <li>data management and information standards in construction</li>
                        <li>relationship management and customer service</li>
                        <li>how the Internet of Things (IoT) impacts construction</li>
                        <li>digital engineering techniques</li>
                        <li>mathematical techniques to solve construction problems</li>
                        <li>construction design principles and processes</li>
                        <li>the construction industry and its role in the economy</li>
                        <li>sustainability and the environmental impact of construction</li>
                        <li>business, commerce and corporate social responsibility</li>
                    </ul>
                  </div>
              </div>

              <div class="tl-margin-bottom-10">
                <button class="accordion">Design, surveying and planning</button>
                  <div class="panel">
                    <p>All students will develop an understanding of:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>project management</li>
                        <li>budgeting and resource allocation</li>
                        <li>procurement</li>
                        <li>risk management</li>
                        <li>how the law impacts design, surveying and planning activities</li>
                    </ul>
                  </div>
              </div>

              <div class="tl-margin-bottom-10">
                <button class="accordion">Specialist knowledge</button>
                  <div class="panel">
                    <p>Each student will study one of the following specialist subjects:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>surveying and design for construction and the built environment </li>
                        <li>civil engineering</li>
                        <li>building services design</li>
                        <li>hazardous materials analysis and surveying</li>
                    </ul>
                  </div>
              </div>

              <p class="tl-margin-top-30"><a class="tl-link tl-link--new" href="#">Download full course details (PDF, 200KB)</a></p>


            </div>
        </div>
    </div>
</section>

{% include protoversion + "/includes/searchRed.html" %}




    </main>
    {% endblock %}
