#tl-footer-student {
    background-color: $orange;
    color: white;
    padding: 40px;

    @media (max-width: 767px) {
        padding: 40px 0;
    }

    a {
        color: white;
        text-decoration: none;
    }

    h2 {
        font-size: 18px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 2px 0;
        align-items: center;
    }

    @media (max-width: 767px) {
        display: block;
        border: none;
    }

    li {
        margin: 15px 0;

        &:after {
            content: "|";
            margin: 0 20px;
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: "";
            }
        }
    }


    .tl-footer-employer--link {
        padding-bottom: 5px;
        border-bottom: 1px solid black;
        margin-bottom: 5px;
        display: inline-block;

        &:hover {
            border-bottom: 1px solid white;
        }

        &--orange {
            border-bottom: 1px solid $orange;
        }
    }
}

.tl-footer--social--student {
    text-align: right;

    a {
        text-decoration: none !important;
    }

    svg {
        max-width: 35px
    }
}


.tl-footer-student--lower {
    border-top: 1px solid white;
    margin-top: 20px;
    padding-top: 20px;


    ul {
        align-items: center;
        justify-content: flex-end;
    }


    li {
        margin: 0 !important;

        &:nth-last-child(2) {

            &:after {
                content: "" !important;
            }
        }
    }
}

.tl-footer-student--left {
    float: left;
}

.tl-footer-student--right {
    float: right;
}


.tl-footer-student-barright {
    border-right: 1px solid white;
}
