{% extends "v2/landing.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}
    <section id="tl-landing">
        <div class="tl-container">
            <div class="row">
                <div class="col">
                    <h1 class="tl-landing-logo tl-landing-logo--new"><a href="{{ protoversion }}" id="tl-nav--bar-logo"><span class="hidden">T Levels - The next level qualification</span></a></h1>
                </div>
            </div>
        </div>
            <div class="row no-gutters">
                <div class="col-lg-6 tl-landing-box tl-landing-box--big tl-landing-left">
                    <div class="">

                        <div class="tl-landing-box--content">

                            <h1>A head start to the career you want </h1>
                            <p class="tl-lede">T Levels are a new qualification launching in September 2020. They follow GCSEs and combine classroom learning with an industry placement to give you the knowledge and skills to take your career to the next level.</p>
                            <a class="tl-button-employer" href="/{{ protoversion }}/student">I'm a student</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 tl-landing-box tl-landing-box--big tl-landing-box--right tl-landing-right">
                    <div class="">
                        <div class="tl-landing-box--content">
                            <h1>Meet the workforce of the future</h1>
                            <p class="tl-lede">
                                T Levels have been designed with employers to make sure students have the knowledge and skills your business needs. A substantial industry placement gives you the chance to nurture and spot future talent.
                            </p>
                            <a class="tl-button-employer tl-button-employer--purple" href="/v2/employer">I'm an employer</a>
                        </div>
                    </div>
                </div>
            </div>
</section>




{% endblock %}
