{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  Your industry placement timeline
{% endblock %}
{% block body_id %}tl-employer-costs{% endblock %}
{% block content %}




<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>How industry placements work</h1>
                    <p class="tl-margin-bottom-20">
                      You’ll get support at each stage of your industry placement journey - from recruiting the right student through to managing their contribution to your business, and maybe even hiring a new employee.
                    </p>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/TLevels_WebsiteAssets36.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-50">
                  10 steps to an industry placement
                </h2>
            </div>
        </div>
    </div>

    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">

                <div class="timeline">

                    <h3 class="timeline-number">1</h3>
                      <div class="container">
                        <div class="content">
                          <h3>Express an interest</h3>
                          <p class="tl-margin-bottom-20">Tell us if you want more information or you’re thinking about recruiting a placement student.</p>
                          <!-- <details class="tl-details">
                            <summary class="tl-summary">
                              <span class="tl-summary-text tl-link--employer-timeline">
                                Help you'll get
                              </span>
                            </summary>
                            <div class="tl-details-text"> -->
                              <p>Talk to our industry placement team:</p>
                              <ul class="tl-list tl-list-bullet">
                                <li>telephone: 08000 150 600 (choose option 4)</li>
                                <li>filling in our <a class="tl-link tl-link--newemployer" href="get-involved">industry placement contact form</a></li>
                              </ul>
                            <!-- </div>
                          </details> -->
                        </div>
                      </div>


                    <h3 class="timeline-number">2</h3>
                      <div class="container">
                        <div class="content">
                          <h3>Connect with local colleges and schools</h3>
                          <p class="tl-margin-bottom-20">When you’re ready, find a college or school that might have suitable students.</p>
                          <details class="tl-details">
                            <summary class="tl-summary">
                              <span class="tl-summary-text tl-link--employer-timeline">
                                How we can help
                              </span>
                            </summary>
                            <div class="tl-details-text">
                              <p>Our industry placement team can find colleges and schools with suitable industry placement students near you.</p>
                              <p>Once you’re connected, the college or school’s industry placement manager can lead the conversation to see if you’re a good fit for each other.</p>
                            </div>
                          </details>
                        </div>
                     </div>

                   <h3 class="timeline-number">3</h3>
                     <div class="container">
                       <div class="content">
                         <h3>Select a student</h3>
                         <p class="tl-margin-bottom-20">Get the right student for your business.</p>
                         <details class="tl-details">
                           <summary class="tl-summary">
                             <span class="tl-summary-text tl-link--employer-timeline">
                               How the college or school can help
                             </span>
                           </summary>
                           <div class="tl-details-text">
                             <p>The college or school will lead the recruitment process and identify suitable students for you. If you want to interview them, the college or school can help schedule the interviews.</p>
                           </div>
                         </details>
                       </div>
                    </div>

                    <h3 class="timeline-number">4</h3>
                      <div class="container">
                        <div class="content">
                          <h3>Make sure you’re compliant</h3>
                          <p class="tl-margin-bottom-20">Get your workplace and staff ready to host the placement.</p>
                          <details class="tl-details">
                            <summary class="tl-summary">
                              <span class="tl-summary-text tl-link--employer-timeline">
                                How the college or school can help
                              </span>
                            </summary>
                            <div class="tl-details-text">
                              <p>The college or school will guide you through any policies you need in place or paperwork you need to complete - a health and safety policy or employer liability insurance, for example.</p>
                            </div>
                          </details>
                        </div>
                     </div>

                     <h3 class="timeline-number">5</h3>
                       <div class="container">
                         <div class="content">
                           <h3>Decide when and how you’ll deliver the placement</h3>
                           <p class="tl-margin-bottom-20">Agree dates and times that work best for everyone.</p>
                           <details class="tl-details">
                             <summary class="tl-summary">
                               <span class="tl-summary-text tl-link--employer-timeline">
                                 How the college or school can help
                               </span>
                             </summary>
                             <div class="tl-details-text">
                               <p>The college or school will make sure that the schedule for the placement is right for you and fits around the student’s studies.</p>
                             </div>
                           </details>
                         </div>
                      </div>


                      <h3 class="timeline-number">6</h3>
                        <div class="container">
                          <div class="content">
                            <h3>Decide on whether you want to pay the student</h3>
                            <p class="tl-margin-bottom-0">There’s no legal requirement or expectation that students will be paid, as it is part of a course. Some employers prefer to pay their students at least the <a class="tl-link tl-link--newemployer" href="https://www.gov.uk/national-minimum-wage-rates">National Minimum Wage</a> while they are working.</p>
                          </div>
                       </div>

                       <h3 class="timeline-number">7</h3>
                         <div class="container">
                           <div class="content">
                             <h3>Agree on work objectives for the student</h3>
                             <p class="tl-margin-bottom-20">Decide what your student will do, and how you’ll manage them.</p>
                             <details class="tl-details">
                               <summary class="tl-summary">
                                 <span class="tl-summary-text tl-link--employer-timeline">
                                   How the college or school can help
                                 </span>
                               </summary>
                               <div class="tl-details-text">
                                 <p>The college or school will lead the conversation to set learning objectives for the placement. They’ll include these on an industry placement agreement, and send this to you for signing.</p>
                               </div>
                             </details>
                           </div>
                        </div>

                        <h3 class="timeline-number">8</h3>
                          <div class="container">
                            <div class="content">
                              <h3>Manage the student</h3>
                              <p class="tl-margin-bottom-20">Assign someone to line manage the student during their placement, track progress against their objectives and give regular feedback to their college or school.</p>
                              <details class="tl-details">
                                <summary class="tl-summary">
                                  <span class="tl-summary-text tl-link--employer-timeline">
                                    How the college or school can help
                                  </span>
                                </summary>
                                <div class="tl-details-text">
                                  <p>The college or school will always be constantly available to help the line manager with any questions or issues they have.</p>
                                </div>
                              </details>
                            </div>
                         </div>


                         <h3 class="timeline-number">9</h3>
                           <div class="container">
                             <div class="content">
                               <h3>Write a reference</h3>
                               <p class="tl-margin-bottom-20">At the end of the placement, let the student know how they did.</p>
                               <details class="tl-details">
                                 <summary class="tl-summary">
                                   <span class="tl-summary-text tl-link--employer-timeline">
                                     How the college or school can help
                                   </span>
                                 </summary>
                                 <div class="tl-details-text">
                                   <p>The college or school will initiate the end-of-placement discussions with you, supply you with the review templates and help you complete them.</p>
                                 </div>
                               </details>
                             </div>
                          </div>

                          <h3 class="timeline-number">10</h3>
                            <div class="container">
                              <div class="content">
                                <h3>Decide if you want to make a job offer</h3>
                                <p class="tl-margin-bottom-0">At the end of the placement, you can talk to the college or school about hiring the student after they finish their course. And you might want to take on another student.</p>
                              </div>
                           </div>



              </div>

            </div>
        </div>
    </div>

</section>

{% include protoversion + "/includes/employerCTA.html" %}

{% endblock %}
