{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-home{% endblock %}
{% block content %}
<section id="tl-employer-home--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-8 my-auto">
                <div class="tl-employer-banner-box">
                    <h1>Tomorrow's talent today</h1>
                    <p class="tl-lede">In September 2020, the introduction of T Levels into schools and colleges will create a new route for employers to attract and develop new talent. It's the biggest change to vocational training in a generation, and the business benefits are huge. But are they a good fit for you?</p>
                    <a class="tl-button-employer tl-button-employer--purple" href="/{{ protoversion }}/employer/right-for-you">Are T Levels right for my organisation?</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image" src="{{ asset_path }}images/employer/businessbenefits1.jpg" alt="" />
            </div>

            <div class="col-md-6 my-auto">
                <div class="tl-employer-box">
                    <h2>Business Benefits</h2>
                    <p>Every T Level includes an industry placement lasting at least 315 hours (45 days). These will help you: </p>
                    <ul>
                        <li>find cost-effective solutions for entry-level jobs</li>
                        <li>develop new talent with fresh, imaginative ideas</li>
                        <li>build partnerships with local schools and colleges</li>
                        <li>improve the diversity of your workforce</li>

                    </ul>
                    <a class="tl-button-employer tl-margin-top-30" href="/{{ protoversion }}/employer/business-benefits">More ways T Levels can benefit business</a>

                </div>
            </div>
        </div>


    </div>
</section>


<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col">
                <h2>WAYS TO GET INVOLVED</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="tl-employer-box">
                    <img class="tl-image--responsive" src="{{ asset_path }}images/employer/businessbenefits2.jpg" alt="" />
                    <h3>SUPPORT LOCAL T LEVEL PROVIDERS</h3>
                    <p>50 schools and colleges across England have been chosen for the first T Levels, reaching more than 2000 students. Start discussions now about how to support them with industry placements. </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="tl-employer-box">
                    <img class="tl-image--responsive" src="{{ asset_path }}images/employer/businessbenefits3.jpg" alt="" />
                    <h3>TAKE ON A PLACEMENT STUDENT</h3>
                    <p>
                        You don’t need to wait for T Levels to offer industry placements, you can start now. No matter what you do or where you are, we can help you recruit local students into your business.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="tl-employer-box">
                    <img class="tl-image--responsive" src="{{ asset_path }}images/employer/businessbenefits4.jpg" alt="" />
                    <h3>BECOME A T LEVEL AMBASSADOR</h3>
                    <p>The success of T Levels relies on positive engagement from employers of all sizes, up and down the country. Help us raise awareness for this essential and revolutionary reform to vocational training. </p>
                </div>
            </div>
        </div>

        <div class="col">
            <a class="tl-button-employer tl-button-employer--purple" href="/{{ protoversion }}/employer/get-involved">Find out how to get involved</a>

        </div>
    </div>
</section>

<section class="tl-employer--boxes-white tl-addarrow--white">
    <div class="tl-container">
        <div class="row">
            <div class="col">
                <h2>EMPLOYERS SUPPORTING T LEVELS</h2>
            </div>
        </div>
        <div class="row tl-margin-top-80">
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo1.png" alt="" />
            </div>
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo2.png" alt="" />
            </div>
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo3.png" alt="" />
            </div>
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo4.png" alt="" />
            </div>
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo5.png" alt="" />
            </div>
            <div class="col-md-2 my-auto">
                <img class="tl-image--responsive" src="{{ asset_path }}images/employer/logo6.png" alt="" />
            </div>
        </div>

    </div>
</section>


{% endblock %}
