{% extends "../layout.html" %}
{% block pageTitle %}
  About T Levels
{% endblock %}

{% block body_id %}tl-about{% endblock %}


{% block content %}
<section id="tl-about-content-1" class="tl-background--orange">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets3.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--orange">
                    <h1>About <span class="no-break">T Levels</span></h1>
                    <p>T Levels are a brand new, 2-year qualification that will give you a head start towards the future you want.</p>
                    <p>They bring classroom learning and an extended industry placement together on a course designed with businesses and employers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- {% include protoversion + "/includes/searchnew.html" %} -->


<section id="tl-about-content-2" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2>A new choice</h2>
                <p>T Levels are ideal if you have finished your GCSEs and want the knowledge and experience to get straight into employment, an apprenticeship or higher education.</p>
                <p>You'll spend 80% of your time in the classroom and 20% on a 45-day placement with an employer to give you the knowledge and skills companies look for.</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets10new.jpg" alt="" />
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets18new.jpg" alt="" />
        </div>

        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2>Coming in 2020</h2>
                <p>One T level takes 2 years of full-time study and is equivalent to 3 A Levels.</p>
                <p>The first 3 T Levels start in September 2020 at selected schools and colleges in England with more coming in the following years.</p>
            </div>
        </div>

    </div>
</section>

{% include protoversion + "/includes/searchRed.html" %}


{% endblock %}
