{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block body_id %}tl-employer-about{% endblock %}
{% block content %}




<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>About T Levels</h1>
                    <p class="tl-lede">
                        T Levels are a new qualification for students aged 16 to 19 who’ve finished GCSEs. They are the biggest reform to vocational training in a generation, giving young people the skills, knowledge, and attitude to excel in their careers.
                    </p>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/AboutBanner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">

        <div class="row no-gutters tl-margin-bottom-10">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">
                    DESIGNED BY EMPLOYERS FOR EMPLOYERS
                </h2>
                <p>Employers have told us that you face a skills shortage that could impact the future success of your businesses. In response, the government has worked alongside more than 220 employers to design T Level courses that deliver the skills your organisations need. </p>
                <p>These employers span a range of industries, and include household names, such as Fujitsu, Skanska and GlaxoSmithKlein, as well as many smaller employers.</p>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive tl-box--employer--imageleft" src="{{ asset_path }}images/About1.jpg" alt="" />
            </div>

            <div class="col-md-6 my-auto">
              <div class="tl-box--employer tl-box--employer-right">
                  <h2 class="tl-margin-bottom-40">
                      A SIMPLER APPROACH TO VOCATIONAL TRAINING
                  </h2>
                  <p>Employers tell us that the current range of vocational education courses is confusing and doesn’t always meet your needs. </p>
                  <p>T Levels are part of the government’s plan to simplify vocational education and create a system that you can trust and understand. They provide a clear and high-quality, technical alternative to the current range of post-16 education and training options.</p>
              </div>
            </div>

        </div>

        <div class="row no-gutters tl-margin-bottom-30">
          <div class="col-md-6 my-auto">
            <div class="tl-box--employer tl-box--employer-left">
                <h2 class="tl-margin-bottom-40">
                    INTRODUCING INDUSTRY PLACEMENTS
                </h2>
                <p>Every T Level student completes an industry placement that lasts a minimum of 315 hours (approximately 45 days).</p>
                <p>Industry placements give you a unique opportunity to help develop new talent and get young people work ready. They also bring many <a href="business-benefits" class="tl-link" >business benefits</a>.</p>
            </div>
          </div>

          <div class="col-md-6">
              <img class="tl-image--responsive tl-box--employer--imageright" src="{{ asset_path }}images/About2.jpg" alt="" />
          </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">
                    START DOING INDUSTRY PLACEMENTS NOW
                </h2>
                <p>
                    As T Levels start rolling out, more than 2000 employers are already working with local colleges and schools to offer industry placements.
                </p>
                <p>
                    From digital, creative and design to construction, engineering and manufacturing, industry placements can help your organisation find and develop new talent.
                </p>
                <p><a href="skills-available" class="tl-link">Check what skills are available</a></p>
            </div>
        </div>

</section>

{% include protoversion + "/includes/employerCTA.html" %}

{% endblock %}
