{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-benefits{% endblock %}
{% block content %}

<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>BUSINESS BENEFITS OF INDUSTRY PLACEMENTS</h1>
                    <p class="tl-lede">
                        Industry placements give you early sight of the new talent coming into your industry. They can help you with recruitment, improve innovation, and increase your organisation’s productivity. They also have important social benefits.
                    </p>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/AboutBanner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    SMARTER RECRUITMENT
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits">
                <div class="row">
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>A solution for entry-level jobs</h3>
                        <p>
                          Industry placements are an ideal solution for entry-level skills. They can help you build a pipeline of talent for junior positions or apprenticeships.
                        </p>
                    </div>
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>Cost-effective channel for recruitment
                        </h3>
                        <p >
                          You can avoid many of the costs associated with recruitment by working with local colleges and schools to connect with young people who are deciding on their careers.
                        </p>
                    </div>
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Develop young people into your industry
                        </h3>
                        <p>
                          Placements give you a chance to work alongside the next generation of workers entering your industry, making sure they develop the knowledge, attitude and practical skills to succeed.
                        </p>
                    </div>
                </div>

            </div>
        </div>

      <div class="row tl-margin-top-50">
          <div class="col-md-12">
              <h2>
                  Support for your staff
              </h2>
          </div>
      </div>

      <div class="row tl-margin-top-30">
          <div class="col-md-12 tl-employer-benefits">
              <div class="row">
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3>
                          <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                          Better management and mentoring skills
                      </h3>
                      <p>
                        Placements create opportunities for staff to act as buddies, coaches or line managers to students. This helps existing staff gain management and mentorship skills, both of which are known to increase job satisfaction.
                      </p>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3>
                          <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                          A fresh perspective
                      </h3>
                      <p style="margin-top:33px">
                        For smaller employers, young people can be an invaluable source of new and interesting ideas that can change the way you think about doing business.
                      </p>
                  </div>
                  <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                      <h3>
                          <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                          Extra help with projects
                      </h3>
                      <p style="margin-top:33px">
                        In an environment where staff are doing multiple roles and struggling to meet difficult deadlines, an industry placement student could help support a key piece of work.
                      </p>
                  </div>
              </div>

          </div>
      </div>


        <div class="row tl-margin-top-50">
            <div class="col-md-12">
                <h2>
                    SUPPORT YOUR LOCAL COMMUNITY
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits tl-employer-benefits--purple">
                <div class="row">
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Enhanced brand image and profile
                        </h3>
                        <p>
                          A commitment to industry placements raises your organisation’s profile, locally and nationally, especially as T Levels gain more public exposure with your customers and clients.
                        </p>
                    </div>
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Improved diversity
                        </h3>
                        <p style="margin-top:33px">
                            Industry placements create opportunities for a diverse range of 16 to 19 year olds. Diversity helps your organisation understand customers better, creates better performing teams and increases innovation and creativity.
                        </p>
                    </div>
                    <div class="col-md-4" style="padding-left: 20px; padding-right:20px">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Create shared value in your community
                        </h3>
                        <p>
                          Traditionally, organisations have supported social causes by making charitable donations. Industry placements are different in that they help create ‘shared value’. They’re a way of giving back that benefits the young people in your community as well as your business.
                        </p>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>







{% include protoversion + "/includes/employerCTA.html" %}





{% endblock %}
