{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}
<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>NEXT STEPS</h1>
                    <p class="tl-lede tl-margin-bottom-0">
                      Our support and guidance can help you:
                    </p>
                    <ul class="tl-list tl-list-bullet">
                        <li>find local colleges and schools with placement students</li>
                        <li>get answers to any questions you have about T Levels and industry placements</li>
                        <li>plan and prepare to offer placements</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/AboutBanner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 tl-employer--form">
                <h2>INTERESTED IN INDUSTRY PLACEMENTS?</h2>

                <p>Complete the contact form and we will be in touch to help match you with local schools and colleges who may have suitable students for you.</p>

                <form class="tl-search--form ">

                    <div class="row no-gutters">
                      <label class="tl-input--label" for="name">Full name</label>
                      <input class="tl-input--employer" id="name" asp-for="name" type="text" aria-label="Enter your full name">
                    </div>

                    <div class="row no-gutters">
                      <label class="tl-input--label" for="company">Name of company</label>
                      <input class="tl-input--employer" id="company" asp-for="company" type="text" aria-label="Enter the name of your company">
                    </div>

                    <div class="row col-md-6" style="margin-right: 0px">
                      <label class="tl-input--label" for="phone">Phone number</label>
                      <input class="tl-input--employer" id="phone" asp-for="phone" type="text" aria-label="Enter your phone number">
                    </div>

                    <div class="row no-gutters">
                      <label class="tl-input--label" for="email">Email address</label>
                      <input class="tl-input--employer" id="email" asp-for="email" type="text" aria-label="Enter your email address">
                    </div>

                    <h3 class="tl-input--label">How would you like to be contacted?</h3>
                    <div class="tl-radios--inline">
                      <div class="tl-radio-item">
                        <input class="tl-radio-input" id="phonepref" name="contactpref" type="radio" value="phone">
                        <label class="tl-radio--label" for="phonepref">
                          Phone
                        </label>
                      </div>
                      <div class="tl-radio-item">
                        <input class="tl-radio-input" id="emailpref" name="contactpref" type="radio" value="email">
                        <label class="tl-radio--label" for="emailpref">
                          Email
                        </label>
                      </div>

                    </div>


                    <a href="#" id="tl-find-button--search" class="tl-button tl-button--purple">Register interest</a>

                </form>

            </div>


            <div class="col-md-4 tl-employer--involved">

                <h3>Alternatively, call the industry placement hotline</h3>

                <p>Call:</p>
                <p class="tl-employer--CTAnumber">0800 900 8349</p>
                <p class="tl-margin-top-0">(choose option 4)</p>
            </div>

        </div
    </div>
</section>

<section class="tl-employer--boxes-grey">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">NEED MORE INFORMATION?</h2>

                <p>The Department of Education has funded an online resource to help you understand T Levels and take on an industry placement student.</p>

                <p>Register now to access:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>toolkits and guidance</li>
                    <li>webinars and workshops</li>
                    <li>direct support from specialists</li>
                </ul>


                <p style="margin-top: 35px"><a class="tl-button" href="http://employerindustryplacements.co.uk">Register for T Level and industry placement support</a></p>


            </div>
        </div>
    </div>
</section>




{% endblock %}
