{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}
<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>NEXT STEPS</h1>
                    <p class="tl-lede tl-margin-bottom-0">
                      We can help you:
                    </p>
                    <ul class="tl-list tl-list-bullet">
                        <li>find local colleges and schools with placement students</li>
                        <li>get answers to any questions you have about T Levels and industry placements</li>
                        <li>plan and prepare to offer placements</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/AboutBanner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-white" id="success">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-12 tl-employer--success">
              <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">Thank you for telling us that you want to talk to someone about industry placements</h2>

                <p>Someone will contact you within 2 working days of submitting the form.</p>

                <p>If it’s already been more than 2 working days and you still haven’t heard from anyone, please call us on 0800 900 8349 (choose option 4).
                </p>

              </div>
            </div>




        </div
    </div>
</section>

<section class="tl-employer--boxes-grey">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">NEED MORE INFORMATION?</h2>

                <p>The Department of Education has funded an online resource to help you understand T Levels and take on an industry placement student.</p>

                <p>Register now to access:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>toolkits and guidance</li>
                    <li>webinars and workshops</li>
                    <li>direct support from specialists</li>
                </ul>


                <p style="margin-top: 35px"><a class="tl-button" href="http://employerindustryplacements.co.uk">Register for T Level and industry placement support</a></p>


            </div>
        </div>
    </div>
</section>




{% endblock %}
