{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-home{% endblock %}
{% block content %}
<section id="tl-employer-home--banner">
  <div class="tl-container">
      <div class="row">
          <div class="col-md-7 my-auto">
              <div class="tl-employerhome-box">
                  <h1>MEET THE WORKFORCE OF THE FUTURE</h1>
                  <p class="tl-lede tl-margin-bottom-0">
                    T Levels are a new, 2-year qualification for 16 to 19 year olds. Designed with employers, each T Level is equivalent to 3 A levels and helps young people develop the knowledge, attitude and practical skills to thrive in the workplace.
                  </p>
                  <p class="tl-lede tl-margin-top-0" style="padding-top:0px">
                  At the heart of each course, a 45-day industry placement will give you early access to the brightest talent entering your market.
                  </p>

                  <a class="tl-button-employer tl-button-employer--black" href="employer/about">Find out more about T Levels</a>

              </div>

          </div>
          <div class="col-md-5 my-auto tl-margin-bottom-0">
              <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/EmployerHomeBanner.jpg" alt="" />
          </div>
      </div>
  </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">

          <div class="row no-gutters">
                <div class="col-md-6 order-2">
                    <img class="tl-image--responsive tl-box--employer--imageleft" src="{{ asset_path }}images/EmployerHome1.jpg" alt="">
                </div>
                <div class="col-md-6 my-auto order-1 order-md-12">
                    <div class="tl-box--employer tl-box--employer-right">
                        <h2 class="tl-margin-bottom-30">INDUSTRY PLACEMENTS ARE HAPPENING NOW</h2>
                        <p>As T Levels roll out, employers across England are partnering with local colleges and schools to do industry placements.</p>
                        <p>You can join this vocational revolution right now. Students are ready to start placements in areas such as:</p>
                        <ul class="tl-list tl-list-bullet">
                            <li>construction</li>
                            <li>digital and IT</li>
                            <li>health and science</li>
                            <li>legal, accounting and finance</li>
                        </ul>
                        <a class="tl-button-employer tl-margin-top-30 tl-button-employer--purple" href="/{{ protoversion }}/employer/skills-available">Check all available skills</a>
                    </div>
                </div>
        </div>

        <div class="row no-gutters">
                <div class="col-md-6 my-auto">
                    <div class="tl-box--employer tl-box--employer-left">
                        <h2 class="tl-margin-bottom-30">BUSINESS BENEFITS OF INDUSTRY PLACEMENTS</h2>
                        <p>Industry placements help your organisation:</p>

                        <ul class="tl-list tl-list-bullet">
                            <li>find solutions for entry-level skills shortages</li>
                            <li>develop future talent for your business</li>
                            <li>capitalise on new ideas and a fresh perspective</li>
                        </ul>

                        <p><a class="tl-button-employer tl-margin-top-30 tl-button-employer--purple" href="/{{ protoversion }}/employer/business-benefits">View all the business benefits</a></p>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <img class="tl-image--responsive tl-box--employer--imageright" src="{{ asset_path }}images/EmployerHome2.jpg" alt="">
                </div>
        </div>

        <div class="row no-gutters">
              <div class="col-md-6 order-2">
                  <img class="tl-image--responsive tl-box--employer--imageleft" src="{{ asset_path }}images/EmployerHome3.jpg" alt="">
              </div>
              <div class="col-md-6 my-auto order-1 order-md-12">
                  <div class="tl-box--employer tl-box--employer-right">
                      <h2 class="tl-margin-bottom-30">Start your journey</h2>
                      <p>We can help you find a local college, school or training provider to partner with.</p>
                      <p>They’ll then support you at every stage of the industry placement so you can focus on getting the most out of your placement student.</p>

                      <a class="tl-button-employer tl-margin-top-30 tl-button-employer--purple" href="/{{ protoversion }}/employer/the-costs"><span class="d-inline-block d-md-none">Your industry placement timeline</span><span class="d-none d-md-inline-block">Your industry placement timeline</span></a>
                  </div>
              </div>
        </div>

    </div>
</section>

{% include protoversion + "/includes/employerCTAHomepage.html" %}

<section class="tl-employer--boxes-black" id="tl-banner-employer">
    <div class="tl-container">
        <div class="row no-gutters">

                <div class="col-lg-8">
                    <h2 class="tl-margin-top-30">What employers say about industry placements</h2>
                </div>

                <div class="col-12 tl-banner--video">
                    <div class="tl-banner--video-image plyr__video-embed" id="player">
                        <iframe src="https://www.youtube.com/embed/fWLUtLBc1rY?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1"
                                allowfullscreen
                                allowtransparency></iframe>
                    </div>
                </div>
                <div class="col-12 tl-margin-bottom-30">
                    <p><a class="tl-link" style="color: #fff" href="#">Read a transcript of this video</a></p>
                </div>
        </div>
        </div>
</section>


{% endblock %}
{% block scripts %}
{% include protoversion + "/includes/scripts.html" %}

<script>
    setTimeout(() => {
        player.poster = 'https://i.imgur.com/R0vwNZt.jpg';
    }, 500)
</script>
{% endblock %}
