{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block body_id %}tl-employer-costs{% endblock %}
{% block content %}




<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-6 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1>Your industry placement timeline</h1>
                    <p class="tl-lede">
                      You’ll get support at each stage of your industry placement journey - from recruiting the right student through to managing their contribution to your business, and maybe even hiring a new employee.
                    </p>
                </div>

            </div>
            <div class="col-md-6 my-auto">
                <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/AboutBanner.jpg" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-50">
                  10 steps to an industry placement
                </h2>
            </div>
        </div>
    </div>

    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">

                <div class="timeline">

                    <h3 class="timeline-number">1</h3>
                      <div class="container">
                        <div class="content">
                          <h3>Express an interest</h3>
                          <p class="tl-lede">Tell us if you want more information or you’re thinking about recruiting a placement student.</p>
                        </div>
                      </div>

                    <h3 class="timeline-number">2</h3>
                      <div class="container">
                        <div class="content">
                          <h3>Connect with local colleges and schools</h3>
                          <p class="tl-lede">When you’re ready, find a college or school that might have suitable students.</p>
                        </div>
                     </div>

                   <h3 class="timeline-number">3</h3>
                     <div class="container">
                       <div class="content">
                         <h3>Select a student</h3>
                         <p class="tl-lede">Get the right student for your business.</p>
                       </div>
                    </div>







              </div>

            </div>
        </div>
    </div>

</section>

{% include protoversion + "/includes/employerCTA.html" %}

{% endblock %}
