{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-benefits{% endblock %}
{% block content %}



<section id="tl-employer-right--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <div class="tl-employer-box">
                    <h1 class="">BUSINESS BENEFITS OF INDUSTRY PLACEMENTS</h1>
                    <p class="tl-lede">
                        Industry placements give you early sight of the new talent coming into your sector. In addition to social benefits, they can help you with recruitment, improve innovation, and increase your organisation's productivity.
                    </p>


                </div>
            </div>
                <div class="col-md-4 my-auto">
                    <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/bens3.jpg" alt="" />
                </div>

            </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    SMARTER RECRUITMENT
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits">
                <div class="row">
                    <div class="col-md-4">
                        <h3><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>A solution for entry-level jobs</h3>
                        <p>
                            Industry placements are an ideal solution for entry-level skills shortages. They also help you build a pipeline of talent for junior positions or higher-level apprenticeships.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>Cost-effective pipeline for new talent
                        </h3>
                        <p>
                            Working with local schools and colleges, you can raise awareness of placement opportunities directly with young people who are deciding on their future careers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Develop young people into your industry
                        </h3>
                        <p>
                            Placements introduce your organisation to the young people coming into your industry, so you can develop the skills and attitude they'll need to succeed.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-black">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    CORPORATE SOCIAL RESPONSIBILITY
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits tl-employer-benefits--purple">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Enhanced brand image and profile
                        </h3>
                        <p>
                            A commitment to industry placements will raise your organisation's profile, locally and nationally, especially as T Levels gains more public exposure with your customers and clients.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            More equality and diversity
                        </h3>
                        <p>
                            Industry placements create opportunities for a wide range of young people, including those from traditionally marginalised or excluded groups. Diversity helps organisations understand their customers better, creates better performing teams and increases innovation and creativity.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Create shared value in your community
                        </h3>
                        <p>
                            Traditionally, businesses have helped their communities by giving some of their profits to social causes. Industry placements move organisations beyond charity to help them create 'shared value'. They still give back, but in a way that benefits both the community and their business.
                        </p>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Support for your staff
                </h2>
            </div>
        </div>

        <div class="row tl-margin-top-30">
            <div class="col-md-12 tl-employer-benefits">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Improved management and mentoring skills
                        </h3>
                        <p>
                            Placement students create opportunities for staff to act as buddies, coaches or line managers. These roles help the business by giving existing staff management and mentorship skills, both of which have been shown to increase job satisfaction.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            A fresh perspective
                        </h3>
                        <p>
                            For smaller employers, young people can be an invaluable source of new and interesting ideas that can change the way you think about doing business.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3>
                            <span><img class="tl-image--responsive tl-employer-benefits--arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>
                            Extra help with projects
                        </h3>
                        <p>
                            In an environment where staff are doing multiple roles and struggling to meet difficult deadlines, an industry placement student could help you support a key piece of work that you haven't had the time or resources to complete.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>







{% include protoversion + "/includes/employerCTA.html" %}





{% endblock %}
