{% extends "../layout.html" %}
{% block pageTitle %}
  Find a T Level
{% endblock %}

{% block body_id %}tl-find{% endblock %}


{% block content %}
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content" style="margin: 20px 0 20px 0">
                    <h2 style="padding-bottom: 15px">Find your nearest T Level</h2>
                    <p>Search for colleges and schools delivering T Levels in 2020, 2021 and 2022</p>
                    <form class="tl-search--form">
                        <label for="Postcode" class="hidden">Postcode</label>
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <label for="tl-qualifications" class="hidden">Select a qualification</label>
                        <input type="hidden" asp-for="Qualification" />
                        <input type="hidden" asp-for="ShouldSearch" />
                        <input id="MaxResultCount" value="5" type="hidden" />
                        <select class="tl-input tl-input--select" id="tl-qualifications">
                            <option value="0">All T Level courses</option>
                            <option value="1">Building services engineering</option>
                            <option value="2">Design, surveying and planning (construction)</option>
                            <option value="3">Digital business services</option>
                            <option value="4">Digital production, design and development</option>
                            <option value="5">Digital support and services</option>
                            <option value="6">Education</option>
                            <option value="7">Health</option>
                            <option value="8">Healthcare science</option>
                            <option value="9">Onsite construction</option>
                            <option value="10">Science</option>
                        </select>
                        <a href="#" id="tl-find-button--search"class="tl-button tl-button--orange">Search</a>

                        <br />
                        <span class="tl-validation--message field-validation-error">You must enter a real postcode</span>

                    </form>

                    <!-- <p><a class="tl-link--white tl-link--new tl-link--new--white" href="#">View all T Level providers on a map</a></p> -->
                </div>
            </div>
        </div>
    </div>
</section>


<section id="tl-results">
    <div class="tl-container">
        <div class="row no-gutters">
            <div id="tl-search-results" class="col-md-8">


                <div class="tl-results-box">
                    <h3>
                        <span class="tl-results-box--distance">0 miles</span>SOLIHULL COLLEGE & UNIVERSITY CENTRE
                    </h3>
                      <p class="tl-results-box--subheader">
                        Solihull | B91 1SB <a target="_blank" href="https://www.google.com/maps/dir/B91+1NG,+Solihull/Solihull+College+%26+University+Centre+Blossomfield+Campus,+Solihull/@52.4113588,-1.795049,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4870b9e9b63f91ef:0x2a0e6b03104f3776!2m2!1d-1.7921997!2d52.4131839!1m5!1m1!1s0x4870b9c249edef4d:0xa9adeba9e68f74c!2m2!1d-1.7924987!2d52.4092323!3e3" class="tl-link tl-link--new tl-font-small tl-margin-left-20">How do I get there?</a>
                      </p>
                    <hr class="tl-line-lightgrey--small">
                      <p class="tl-results-box--listheader"><strong>Starting in September 2020</strong></p>
                      <ul class="tl-list tl-list-small tl-list-bullet">
                          <li>Education</li>
                      </ul>
                      <p class="tl-results-box--listheader"><strong>Starting in September 2021</strong></p>
                      <ul class="tl-list tl-list-small tl-list-bullet">
                          <li>Health</li>
                          <li>Healthcare science</li>
                          <li>Science</li>
                          <li style="display: none">All T Level courses</li>
                      </ul>
                    <p><a href="https://www.strode-college.ac.uk/courses/whats-right-for-you/t-levels/strode-among-first-to-teach-new/" class="tl-link tl-link--new"  id="tl-find--providersite">Visit their website</a></p>
                </div>

                <div class="tl-results-box">
                    <h3><span class="tl-results-box--distance">7 miles</span>UNIVERSITY COLLEGE BIRMINGHAM</h3>
                      <p class="tl-results-box--subheader">
                          Birmingham | B3 1JP <a target="_blank" href="https://www.google.com/maps/dir/B91+1NG,+Solihull/University+College+Birmingham,+Summer+Row,+Birmingham/@52.4486107,-1.8827295,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4870b9e9b63f91ef:0x2a0e6b03104f3776!2m2!1d-1.7921997!2d52.4131839!1m5!1m1!1s0x4870bcf3243a495d:0xec0854d8713aa81a!2m2!1d-1.9063332!2d52.4813851!3e3" class="tl-link tl-link--new tl-font-small tl-margin-left-20">How do I get there?</a>
                      </p>
                    <hr class="tl-line-lightgrey--small">

                      <!-- <p class="tl-results-box--listheader"><strong>Starting in September 2020</strong></p>
                      <ul class="tl-list tl-list-small tl-list-bullet">
                          <li>Design, surveying and planning (construction)</li>
                          <li>Digital production, design and development</li>
                          <li>Education</li>
                      </ul> -->

                      <p class="tl-results-box--listheader"><strong>Offering T Levels from September 2022</strong></p>
                      <ul class="tl-list tl-list-small tl-list-bullet">
                          <!-- <li>Building services engineering</li>
                          <li>Digital business services</li>
                          <li>Digital support and services</li>
                          <li>Health</li>
                          <li>Healthcare science</li>
                          <li>Science</li> -->
                          <li style="display: none">All T Level courses</li>
                      </ul>
                      <p><a href="https://www.cirencester.ac.uk/courses/course-directory/t-levels/" class="tl-link tl-link--new" id="tl-find--providersite">Visit their website</a></p>
                </div>

                <div class="tl-results-box">
                    <h3><span class="tl-results-box--distance">7 miles</span>UNIVERSITY COLLEGE BIRMINGHAM</h3>
                        <p class="tl-results-box--subheader">
                            Birmingham | B1 3PY <a target="_blank" href="https://www.google.com/maps/dir/B91+1NG,+Solihull/University+College+Birmingham,+Summer+Row,+Birmingham/@52.4486107,-1.8827295,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4870b9e9b63f91ef:0x2a0e6b03104f3776!2m2!1d-1.7921997!2d52.4131839!1m5!1m1!1s0x4870bcf3243a495d:0xec0854d8713aa81a!2m2!1d-1.9063332!2d52.4813851!3e3" class="tl-link tl-link--new tl-font-small tl-margin-left-20">How do I get there?</a>
                        </p>
                    <hr class="tl-line-lightgrey--small">

                        <p class="tl-results-box--listheader"><strong>Starting in September 2020</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Design, surveying and planning (construction)</li>
                            <li>Digital production, design and development</li>
                            <li>Education</li>
                        </ul>

                        <p class="tl-results-box--listheader"><strong>Starting in September 2021</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Building services engineering</li>
                            <li>Digital business services</li>
                            <li>Health</li>
                            <li style="display: none">All T Level courses</li>

                        </ul>
                        <p><a href="https://www.btc.ac.uk/find-a-course/school-leavers/t-levels/" class="tl-link tl-link--new" id="tl-find--providersite">Visit their website</a></p>
                </div>

                <div class="tl-results-box">
                    <h3><span class="tl-results-box--distance">8 miles</span>LORDSWOOD GIRLS' SCHOOL & SIXTH FORM</h3>
                        <p class="tl-results-box--subheader">
                            Birmingham | B17 8QB <a target="_blank" href="https://www.google.com/maps/dir/B91+1NG,+Solihull/Lordswood+Girls%E2%80%99+School+and+Sixth+Form+Centre,+Knightlow+Road,+Harborne,+Birmingham/@52.44116,-1.9493266,12z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x4870b9e9b63f91ef:0x2a0e6b03104f3776!2m2!1d-1.7921997!2d52.4131839!1m5!1m1!1s0x4870bd9c14df95af:0x9572f37f9662ea00!2m2!1d-1.9651794!2d52.4694753!3e3" class="tl-link tl-link--new tl-font-small tl-margin-left-20">How do I get there?</a>
                        </p>
                    <hr class="tl-line-lightgrey--small">

                        <p class="tl-results-box--listheader"><strong>Starting in September 2020</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Design, surveying and planning (construction)</li>
                        </ul>

                        <p class="tl-results-box--listheader"><strong>Starting in September 2021</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Building services engineering</li>
                            <li>Onsite construction</li>
                            <li style="display: none">All T Level courses</li>

                        </ul>
                        <p><a href="https://exe-coll.ac.uk/school-leavers/t-levels/" class="tl-link tl-link--new" id="tl-find--providersite">Visit their website</a></p>
                </div>

                <div class="tl-results-box">
                    <h3><span class="tl-results-box--distance">11 miles </span>SANDWELL ACADEMY</h3>
                        <p class="tl-results-box--subheader">
                            Sandwell | B71 4LG <a target="_blank" href="https://www.test.tlevels.gov.uk/students/find?Postcode=B91+3ES&NumberOfItemsToShow=5&ShouldSearch=True&SearchedQualificationId=0&TotalRecordCount=181&SelectedItemIndex=0&SelectedQualificationId=0&SubmitType=search" class="tl-link tl-link--new tl-font-small tl-margin-left-20">How do I get there?</a>
                        </p>
                    <hr class="tl-line-lightgrey--small">

                        <p class="tl-results-box--listheader"><strong>Starting in September 2020</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Digital production, design and development</li>
                        </ul>

                        <p class="tl-results-box--listheader"><strong>Starting in September 2021</strong></p>
                        <ul class="tl-list tl-list-small tl-list-bullet">
                            <li>Digital business services</li>
                            <li>Digital support and services</li>
                            <li>Health</li>
                            <li>Healthcare science</li>
                            <li>Science</li>
                            <li style="display: none">All T Level courses</li>

                        </ul>
                        <p><a href="https://exe-coll.ac.uk/school-leavers/t-levels/" class="tl-link tl-link--new" id="tl-find--providersite">Visit their website</a></p>
                </div>


                <p class="tl-next--container">
                    <a href="#" id="tl-next" class="tl-button tl-button--arrow tl-tablet-hidden">Load next 5 providers</a>
                </p>
            </div>



        </div>
    </div>
</section>

{% endblock %}
