{% extends "../layout.html" %}
{% block pageTitle %}

SCIENCE | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


    <section id="tl-student-subject--banner">
        <div class="tl-container">
            <div class="row no-gutters">
                <div class="col-md-8 my-auto">
                    <div class="tl-subject-banner-box">
                      <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                      <h1 style="margin-top: 60px">SCIENCE</h1>
                      <p class="tl-lede">
                        During the 2-year programme, students will develop the core knowledge and skills that are needed for entry to a range of science occupations.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="tl-employer--boxes-white">
        <div class="tl-container">
              <div class="row">
                  <div class="col-md-12">
                    <h2 style="margin-bottom: 1em">Summary</h2>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-5 tl-subjects-summary">
                      <div class="row">

                          <div class="col-md-6 tl-subjects-summary--border">
                              <h3>LEVEL 3</h3>
                              <p>qualification</p>
                          </div>
                          <div class="col-md-6 tl-subjects-summary--border">
                              <h3>2-YEAR</h3>
                              <p>course</p>
                          </div>
                        </div>
                  </div>
                  <div class="col-md-6 tl-subjects-summary">
                      <div class="row">
                          <div class="col-md-12 tl-subjects-summary--border" style="margin-left: 0px">
                              <h3>9 WEEKS</h3>
                              <p>minimum working with an employer on an industry placement</p>
                          </div>
                      </div>
                  </div>
              </div>


              <div class="row">
                  <div class="col-md-8">
                    <h2 style="margin: 1.5em 0 1em 0">What you’ll need before you start</h2>

                    <p>There are no national entry requirements for starting a T Level. These are set by the individual college or school.</p>

                    <p>Following your GCSEs - or a similar level 2 qualification - T Levels could be right for you.</p>

                    <p>We recommend checking with your <a class="tl-link tl-link--new" href="https://www.tlevels.gov.uk/students/find">local T Level college or school</a>.</p>
                  </div>
              </div>


              <div class="row tl-margin-top-60">
                  <div class="col-md-8">
                    <h2 style="margin-bottom: 1em">What you’ll learn on this course</h2>

                    <div class="tl-margin-bottom-10">
                      <button class="accordion">Core content</button>
                        <div class="panel">
                          <p>All students will develop a general understanding of health and science:</p>
                          <ul class="tl-list tl-list-bullet">
                              <li>working within the health and science sector</li>
                              <li>health, safety and environmental regulations</li>
                              <li>managing information and data</li>
                              <li>principles of good scientific and clinical practice</li>
                              <li>core science concepts including the structure of cells, tissues and large molecules, genetics, microbiology and immunology</li>
                          </ul>
                          <p>They will also learn about topics specific to science:</p>
                          <ul class="tl-list tl-list-bullet">
                              <li>understanding the science sector</li>
                              <li>further science knowledge, including cell cycle and cellular respiration, enzyme and protein structure, pathogens, classification of biological materials, kinetic changes and relevant analytical techniques</li>
                              <li>scientific methodology</li>
                              <li>experimental equipment and techniques</li>
                              <li>ethics of science</li>
                          </ul>
                        </div>
                    </div>

                    <div class="tl-margin-bottom-10">
                      <button class="accordion">OPTIONS TO SPECIALISE </button>
                        <div class="panel">
                          <p>In addition to the core content, each student must choose one of the following specialisms in technical science:</p>
                          <ul class="tl-list tl-list-bullet">
                              <li>laboratory sciences</li>
                              <li>food sciences</li>
                              <li>metrology sciences</li>
                          </ul>
                        </div>
                    </div>


                  </div>
              </div>



          <div class="row tl-margin-top-60">
              <div class="col-md-8">
                <h2 style="margin-bottom: 1em">What you can do with this<br> T Level</h2>
                <p>This course is suitable for anyone interested in a career in science.</p>

                <p>Career options might include working as a technical support scientist, metrology technician or food technician.</p>

                <p>Speak to your careers adviser to find out more.</p>

                <p>Students can also use this T Level to progress to a related higher-level apprenticeship or course of study at a higher level.</p>


        </div>
    </section>

    {% include protoversion + "/includes/searchSubjects.html" %}




    </main>
    {% endblock %}
