{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}
<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1 class="tl-margin-top-50">GET INVOLVED NOW</h1>
                    <p class="tl-lede">
                      An industry placement is an efficient way to bring in new talent and develop the skills you need as an employer.
                    </p>
                </div>
            </div>
                <div class="col-md-4 my-auto">
                    <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/TLevels_WebsiteAssets36.jpg" alt="" />
                </div>
            </div>
    </div>
</section>


<section class="tl-employer--boxes-white tl-employer--involved">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>CONTACT THE INDUSTRY PLACEMENT TEAM</h2>

                <p>For more guidance or help finding local students you can call the industry placement hotline and choose option 4:</p>
                  <h3 class="tl-employer--outline">CALL</h3>
                  <p class="tl-employer--CTAnumber">0800 900 8349</p>

                <p>Or you can email the T Level industry placement with an expression of interest or any questions you may have:</p>
                  <h3 class="tl-employer--outline">EMAIL</h3>
                  <p class="tl-employer--CTAemail">tlevel.placement@education.gov.uk</p>

            </div>
        </div
    </div>
</section>

<!-- <section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive tl-box--employer--image tl-margin-0" src="{{ asset_path }}images/employer/TLevels_WebsiteAssets37.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto">
              <div class="tl-box--employer tl-box--employer-right">
                <h2>
                    STILL NEED MORE INFORMATION?
                </h2>

                <p>For more detailed information and one to one help and guidance on anything industry placement or T Levels related the Department of Education have created an <a class="tl-link tl-link--white" href=https://www.gov.uk/guidance/industry-placements">online resource</a></p>
            </div>
        </div>

      </div>
    </div>
</section> -->

<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">STILL NEED MORE INFORMATION?</h2>

                <p>For more detailed information and one to one help and guidance on anything industry placement or T Levels related the Department of Education have created an <a class="tl-link tl-link--white" href=https://www.gov.uk/guidance/industry-placements">online resource</a>.</p>


            </div>
        </div>
    </div>
</section>




{% endblock %}
