{% extends "../layoutemployer.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}

{% block body_id %}tl-employer-involved{% endblock %}
{% block content %}
<section id="tl-employer-about--banner">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8 my-auto">
                <div class="tl-employer-box" style="padding-left: 0px">
                    <h1 class="tl-margin-top-50">NEXT STEPS</h1>
                    <p class="tl-lede">
                      An industry placement is an efficient way to bring in new talent and develop the skills you need as an employer.
                    </p>
                </div>
            </div>
                <div class="col-md-4 my-auto">
                    <img class="tl-employer--big-image tl-employer--big-image--left" src="{{ asset_path }}images/employer/NextStepsGraphic.jpg" alt="" />
                </div>
            </div>
    </div>
</section>


<section class="tl-employer--boxes-white tl-employer--involved">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2>WANT HELP FINDING LOCAL STUDENTS?</h2>

                <p class="tl-margin-bottom-10">The industry placement hotline can match you with local schools and colleges who may have suitable students for you.</p>
                  <h3 class="tl-employer--outline">CALL:</h3>
                  <p class="tl-employer--CTAnumber">0800 900 8349</p>

                <p class="tl-margin-bottom-10">Alternatively, you can email them for help:</p>
                  <h3 class="tl-employer--outline">EMAIL:</h3>
                  <p class="tl-employer--CTAemail">tlevel.placement@education.gov.uk</p>

            </div>
        </div
    </div>
</section>

<!-- <section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive tl-box--employer--image tl-margin-0" src="{{ asset_path }}images/employer/TLevels_WebsiteAssets37.jpg" alt="" />
            </div>
            <div class="col-md-6 my-auto">
              <div class="tl-box--employer tl-box--employer-right">
                <h2>
                    STILL NEED MORE INFORMATION?
                </h2>

                <p>For more detailed information and one to one help and guidance on anything industry placement or T Levels related the Department of Education have created an <a class="tl-link tl-link--white" href=https://www.gov.uk/guidance/industry-placements">online resource</a></p>
            </div>
        </div>

      </div>
    </div>
</section> -->

<section class="tl-employer--boxes-purple">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="tl-margin-bottom-40">NEED MORE INFORMATION?</h2>

                <p>The Department of Education have funded an online resource to give you all the support and guidance you need to take on an industry placement student.</p>

                <p>Register now to access:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>toolkits and guidance</li>
                    <li>webinars and workshops about</li>
                    <li>direct support from specialists</li>
                </ul>


                <p><a class="class="tl-link" style="color: #fff" href="http://employerindustryplacements.co.uk">Register for industry placement support</a></p>


            </div>
        </div>
    </div>
</section>




{% endblock %}
