{% extends "v1/landing.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}
    <section id="tl-landing">
        <div class="row no-gutters">
            <div class="col-lg-6 tl-landing-box tl-landing-left">
                <div class="">
                    <div class="tl-landing-box--content">
                        <h1>The next level qualification</h1>
                        <p class="tl-lede">Coming in 2020, T Levels will give young people a head start towards the career they want.</p>
                        <a class="tl-button-employer" href="/{{ protoversion }}/student">I'm a student</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 tl-landing-box tl-landing-box--right tl-landing-right">
                <div class="">
                    <div class="tl-landing-box--content">
                        <h1>Your future workforce</h1>
                        <p class="tl-lede">Each T Level includes a real world industry placement, giving employers a new pipeline of fresh, young talent.</p>
                        <a class="tl-button-employer tl-button-employer--purple" href="/v1/employer">I'm an employer</a>
                    </div>
                </div>
                </div>
        </div>
    </section>


    <section class="tl-boxes--employer tl-margin-top-40">
        <div class="tl-container">
            <div class="row no-gutters">
                <div class="col-md-6 my-auto">
                    <div class="tl-box--employer tl-box--employer-left">
                        <h2>Equivalent to 3 A Levels</h2>
                        <p>After GCSE's, students can choose to study a T Level. Lasting 2 years, it carries the same weight as 3 A Levels, and opens up opportunities to continue into skilled employment, university or a higher-level apprenticeship.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="tl-image--responsive tl-box--employer--image" src="{{ asset_path }}images/employer/hpimage1.jpg" alt="" />
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-6">
                    <img class="tl-image--responsive tl-box--employer--image" src="{{ asset_path }}images/employer/hpimage2.jpg" alt="" />
                </div>
                <div class="col-md-6 my-auto">
                    <div class="tl-box--employer tl-box--employer-right">
                        <h2>80% Classroom; 20% Workplace</h2>
                        <p>Employers have helped create the T Level course content so that students learn the skills that industry needs. A quarter of every course is spent in the workplace, putting these skills into action.</p>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-6 my-auto">
                    <div class="tl-box--employer tl-box--employer-left">
                        <h2>A 45 day industry placement</h2>
                        <p>Each T Level includes a placement lasting at least 315 hours (45 days). Students get hands-on experience of working in their chosen area. Employers get an early sight of the new talent coming into their sector.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="tl-image--responsive tl-box--employer--image" src="{{ asset_path }}images/employer/hpimage3.jpg" alt="" />
                </div>
            </div>
        </div>
    </section>

<section id="tl-banner-employer" class="tl-addarrow--black">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col tl-banner--video">
                <div class="tl-banner--video-image plyr__video-embed" id="player">
                    <iframe src="https://www.youtube.com/embed/XYQw5rQrwwA?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;enablejsapi=1"
                            allowfullscreen
                            allowtransparency></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-employer-banner-full">
    <div class="row no-gutters">
        <div class="col">
            <h2 class="tl-banner--nextlevel-employer"><span class="hidden">Welcome to the next level</span></h2>
        </div>
    </div>
</section>


{% endblock %}
