<section class="tl-employer--boxes-salmon tl-employer--cta">
    <div class="tl-container">
        <div class="row align-items-end">
            <div class="col-md-8 my-auto tl-margin-bottom-10 tl-margin-top-10">
                <h3 class="tl-margin-top-5">
                    GET INVOLVED NOW
                </h3>
                <p style="margin-bottom: 6px">For more guidance or help finding local students for industry placements:</p>
                <ul class="tl-list tl-list-bullet tl-margin-bottom-0">
                    <li>call the industry placement hotline - <span style="">08000 150 600</span> (choose option 4)</li>
                    <li>email - <span>tlevel.placement@education.gov.uk</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
