@import "helpers/all";
@import "components/all";
@import "pages/all";
$plyr-control-spacing: 20px;
$plyr-color-main: $orange;
$plyr-video-control-color-hover: #000000;
@import "../../../../node_modules/plyr/src/sass/plyr.scss";
@import "../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";



body {
    font-family: 'Sora Regular', 'Times New Roman', Arial;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

.tl-versions {
    h1 {
        font-size: 40px;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 30px;
        padding: 10px 0;
    }

    h2 {
        font-size: 30px;
    }

    .tl-version--box {
        padding: 40px 0;
        border-bottom: 1px solid #d8d8d8;
        overflow: auto;


        &:nth-child(2n+1) {
            background-color: #f8f8f8;
        }
    }
}

p {
    font-size: 18px;
    line-height: 26px;

    @media (max-width: 700px) {
        font-size: 16px;
        line-height: 24px;
    }
}
