{% extends "../layout.html" %}
{% block pageTitle %}


Digital Production, Design and Development  | T Levels

{% endblock %}

{% block body_id %}tl-subjects{% endblock %}


{% block content %}
  <main id="main" tabindex="-1">


    <section id="tl-student-subject--banner">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-8 my-auto">
                <div class="tl-subject-banner-box">
                  <a class="tl-link-white--orange" href="/{{ protoversion }}/student/subjects">&lt; Back to all subjects</a>
                  <h1 style="margin-top: 60px">Digital Production, Design and Development</h1>
                  <p class="tl-lede">
                  During the two-year programme, students will learn the core knowledge and skills that underpin most jobs in the digital industry.
                  </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
          <div class="row">
              <div class="col-md-12">
                <h2 style="margin-bottom: 1em">Summary</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 tl-subjects-summary">
                  <div class="row">

                      <div class="col-md-3 tl-subjects-summary--border">
                          <h3>LEVEL 3</h3>
                          <p>qualification</p>
                      </div>
                      <div class="col-md-4 tl-subjects-summary--border">
                          <h3>34 WEEKS</h3>
                          <p>classroom study - over two years</p>
                      </div>
                      <div class="col-md-4 tl-subjects-summary--border">
                          <h3>9 WEEKS</h3>
                          <p>minimum working with an employer</p>
                      </div>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-8">
                <h2 style="margin: 1.5em 0 1em 0">What you’ll need before you start</h2>

                <p>Individual colleges and schools will have their own entry requirements. However, for most courses, we expect students will need either:</p>

                <ul class="tl-list tl-list-bullet">
                    <li>5 GCSE passes (grade 4 or above), including English, maths and science</li>
                    <li>a pass in a relevant level 2 qualification</li>
                </ul>

                <p>For more information, <a class="tl-link tl-link--new" href="https://www.tlevels.gov.uk/students/find">check with the relevant school or college</a>.</p>

              </div>
          </div>
    </div>
</section>

<section class="tl-employer--boxes-black">
  <div class="tl-container">
      <div class="row">
          <div class="col-md-8">
              <h2 style="margin-bottom: 1em">What you can do with this<br> T Level</h2>
              <p class="tl-margin-bottom-20">This course is suitable for anyone wanting a career in software production and design.
              Students can progress into roles such as:</p>
          </div>
      </div>

      <div class="row">
          <div class="col-md-10 tl-student-careers">
              <div class="row">
                  <div class="col-md-4 tl-student-careers--grid">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/software-developer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>web developer</a></h3>
                  </div>
                  <div class="col-md-4 tl-student-careers--grid">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/web-designer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>web designer</a></h3>
                  </div>
                  <div class="col-md-4 tl-student-careers--grid">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/business-analyst"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>IT business analyst</a></h3>
                  </div>
                  <div class="col-md-4 tl-student-careers--grid">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/app-developer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>app developer</a></h3>
                  </div>
                  <div class="col-md-4 tl-student-careers--grid">
                      <h3><a class="tl-link--careers" href="https://nationalcareers.service.gov.uk/job-profiles/digital-marketer"><span><img class="tl-image--responsive tl-employer-benefits--arrow" src="/public/v8/images/employer/arroworange.svg" alt=""></span>digital marketer</a></h3>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-8">
              <p class="tl-margin-top-30">Students can also use this T Level to do a related higher-level apprenticeship or degree course.</p>
          </div>
      </div>

      <!-- <div class="row">
          <div class="col-md-8">
              <p class="tl-margin-top-30">Students can also use this T Level to do higher study on courses such as:</p>
              <ul class="tl-list tl-list-bullet">
                  <li>Computer Games Programming BSc</li>
                  <li>Software Engineering BSc</li>
                  <li>Virtual Reality Design BA</li>
                  <li>Computing BSc</li>
                  <li>Digital Media Design and Development BSc</li>
                  <li>Computer Science BSc</li>
              </ul>
          </div>
      </div> -->

  </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">
        <div class="row">
            <div class="col-md-8">
              <h2 style="margin-bottom: 1em">What you’ll learn on this course</h2>

              <div class="tl-margin-bottom-10">
                <button class="accordion">Core content</button>
                  <div class="panel">
                    <p>Students will develop an understanding of:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>how digital technologies impact business</li>
                        <li>the ethical and moral implications of digital technology</li>
                        <li>using data in software design</li>
                        <li>using digital technologies to analyse and solve problems </li>
                        <li>digital environments, including physical, virtual and cloud environments</li>
                        <li>emerging technical trends, such as Internet of Things (IoT), Artificial Intelligence (AI), Augmented Reality (AR), Blockchain, 3D printing</li>
                        <li>legal and regulatory obligations relating to digital technologies</li>
                        <li>the privacy and confidentiality of personal data</li>
                        <li>the technical, physical and human aspects of internet security</li>
                        <li>planning digital projects</li>
                        <li>testing software, hardware and data</li>
                        <li>digital tools for project management and collaboration</li>
                    </ul>
                    <p class="tl-margin-top-20">Student will develop the skills to:</p>
                    <ul class="tl-list tl-list-bullet">
                        <li>analyse a problem, understand user needs, define requirements and set acceptance criteria</li>
                        <li>design, implement and test software</li>
                        <li>change, maintain and support software</li>
                        <li>work collaboratively in a digital team</li>
                        <li>discover, evaluate and apply reliable sources of knowledge</li>
                        <li>work within legal and regulatory frameworks when developing software</li>
                    </ul>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>


{% include protoversion + "/includes/searchRed.html" %}




    </main>
    {% endblock %}
