#tl-footer-employer {
    background-color: black;
    color: white;
    padding: 40px 10px;
    border-top: 2px solid $darkgrey;


    @media (max-width: 767px) {
        padding: 40px 20px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    h2 {
        font-size: 18px;
        color: white;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 2px 0;
        align-items: center;
    }

    @media (max-width: 767px) {
        display: block;
        border: none;
    }

    li {
        margin: 15px 0;

        @media (max-width: 767px) {
            width: 100%;
            margin: 5px 0;
        }

        &:after {
            content: "|";
            margin: 0 20px;
            color: #b1b4b6;

            @media (max-width: 767px) {
                display: none;
            }
        }

        &:last-child {
            margin-right: 0;

            &:after {
                content: "";
            }
        }
    }


    .tl-footer-employer--link {
        color: #b1b4b6;
        padding-bottom: 1px;
        border-bottom: 1px solid #b1b4b6;
        margin-bottom: 5px;
        display: inline-block;

        &:hover {
            color: lighten(#b1b4b6, 5%);
        }

        &--orange {
            border-bottom: 1px solid #b1b4b6;
        }
    }
}

.tl-employer-white-link {
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid $black;
    margin-bottom: 5px;
    display: inline-block;
    text-decoration: none;

        &:hover {
            border-bottom: 1px solid white;
        }
    }


.tl-footer--social--student {
    text-align: right;

    a {
        text-decoration: none !important;
    }

    svg {
        max-width: 35px
    }
}


.tl-footer-student--lower {
    border-top: 1px solid $darkgrey;
    margin-top: 20px;
    padding-top: 20px;


    ul {
        align-items: center;
        justify-content: flex-end;
    }


    li {
        margin: 0 !important;

        &:nth-last-child(2) {

            &:after {
                content: "" !important;
            }
        }
    }
}

.tl-footer-student--left {
    float: left;
}

.tl-footer-student--right {
    float: right;

    @media (max-width: 767px) {
        float: left;
        margin-top: 30px;
    }
}


.tl-footer-student-barright {
    border-right: 1px solid $darkgrey;

    @media (max-width: 767px) {
        border: none;
    }
}
