#tl-landing {
    position: relative;
    z-index: unset;


    * {
        color: white;
        z-index: unset;
    }

    h1 {
        font-size: 55px;
        line-height: 55px;

        @media (min-width: 1150px) {
            font-size: 55px;
            line-height: 55px;
        }

        @media (max-width: 700px) {
            font-size: 40px;
            line-height: 40px;
        }
    }

    p {
        padding: 10px 0;
    }

    .tl-landing-box {
        padding-top: 24vw;
        padding-bottom: 3vw;
        overflow: auto;

        @media (max-width: 992px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }


        .tl-landing-box--content {
            max-width: 600px;
            float: left;
            padding: 0;

            @media (max-width: 992px) {
                width: 100%;
                max-width: 100%;
                padding: 0 20px;

            }
        }
    }


    .tl-landing-left {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),image("StudentLanding.jpg");
        background-position: top;
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        padding-left: 2.5vw;


        @media (max-width: 992px) {
            padding-top: 80px;
            padding-bottom: 40px;
        }

        .tl-landing-box--content {
            float: right;
            padding-right: 60px;

            @media (max-width: 992px) {
                padding-right: 20px;
            }
        }
    }

    .tl-landing-right {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),image("EmployerLanding.jpg");
        background-position: top;
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        padding-right: 2.5vw;
        text-align: right;

        .tl-landing-box--content {
            padding-left: 60px;

            @media (max-width: 992px) {
                padding-left: 20px;
            }
        }
    }






    .tl-landing-box--big {
        padding: 30vh 20px 30vh 50px;

        &:first-child {
            padding: 30vh 50px 30vh 20px;
        }

        @media (max-width: 992px) {
            padding: 4vh 20px 4vh 20px !important;

            &:first-child {
                padding: 100px 20px 4vh 20px !important;
            }
        }

        .tl-landing-box--content {
            max-width: 550px;

            @media (max-width: 992px) {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}





.tl-landing-logo {
    position: absolute;
    top: 20px;
    z-index: 999 !important;

    @media (max-width: 767px) {
        margin-left: 20px;
    }

    a {
        padding: 10px 0;
        float: left;
        background: image("logomediumwhite.svg") no-repeat left center;
        min-width: 200px;
        min-height: 40px;
    }
}


    .tl-landing-logo--new {

        a {
            background: image("logowhite.svg") no-repeat left center;
            min-width: 240px;
            min-height: 50px;
        }
    }
