<!-- Javascript -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script>
    const player = new Plyr('#player');
</script>
<script src="{{ asset_path }}javascripts/application.js"></script>
<script id="ss-popup-786932">var _ssq={'cid':786932};window.onload=function(){var ss=document.createElement('script');ss.type='text/javascript';ss.async=true;ss.src=('https:'==document.location.protocol?'https://':'http://')+'www.smartsurvey.co.uk/s/popup/'+_ssq.cid+'/js/';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ss,s);};</script>

