{% extends "landing.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}


<section class="tl-boxes--employer tl-margin-top-40">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-8 tl-versions">
                <h1>TLevels.gov.uk campaign site prototypes</h1>

                <div class="tl-version--box">
                    <h2>Version 9</h2>
                    <p></p>
                    <a class="tl-button-employer" href="/v9">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 8</h2>
                    <p>Building services course updates</p>
                    <p>First 3 T Levels subject pages (2 different versions)</p>
                    <a class="tl-button-employer" href="/v8">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 7</h2>
                    <p>CTA moved to bottom of screen on student content pages</p>
                    <p>New AB test student homepage routed in as main homepage</p>
                    <p>Lots of CSS fixes and enhancements to being more in line with live</p>
                    <p>T22 result added to search results to test</p>
                    <a class="tl-button-employer" href="/v7">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 6</h2>
                    <p>Course title updates</p>
                    <p>Employer CTA and Next steps page</p>
                    <p>Subjects - individual pages (added 1/06/20)</p>
                    <p>More course content updates (updated 1/06/20)</p>
                    <p>New student homepage design (added 30/06/20) access via feedback link in footer</p>
                    <p>More course updates (updated 6/07/20)</p>
                    <a class="tl-button-employer" href="/v6">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 5</h2>
                    <p>Site CTA changes and added to nav</p>
                    <a class="tl-button-employer" href="/v5">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 4 (MVP 14.02.20)</h2>
                    <p>Copy updates throughout</p>
                    <p>Tickertape removed due to responsive build issues</p>
                    <p>Updates to banner graphics</p>
                    <a class="tl-button-employer" href="/v4">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 3</h2>
                    <p>Updated landing page, employer page adjustments and student map page update (Work in progress)</p>
                    <a class="tl-button-employer" href="/v3">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 2</h2>
                    <p>Updated employer pages based on feedback from strategic comms and policy further updates based on UR plans for 13/01/20.</p>
                    <a class="tl-button-employer" href="/v2">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 1</h2>
                    <p>First version of the T Levels student and employer prototype, starting point for all versions that follow.</p>
                    <a class="tl-button-employer" href="/v1">View this version</a>
                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}
