{% extends "landing.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}


<section class="tl-boxes--employer tl-margin-top-40">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-8 tl-versions">
                <h1>Versions</h1>
                <div class="tl-version--box">
                    <h2>Version 1</h2>
                    <p>First version of the T Levels student and employer prototype, starting point for all versions that follow.</p>
                    <a class="tl-button-employer" href="/v1">View this version</a>
                </div>

                <div class="tl-version--box">
                    <h2>Version 2</h2>
                    <p>Updated employer pages based on feedback from strategic comms and policy further updates based on UR plans for 13/01/20.</p>
                    <a class="tl-button-employer" href="/v2">View this version</a>
                </div>


                <div class="tl-version--box">
                    <h2>Version 3</h2>
                    <p>Updated landing page, employer page adjustments and student map page update (Work in progress)</p>
                    <a class="tl-button-employer" href="/v3">View this version</a>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
