{% extends "layout.html" %}
{% block pageTitle %}
  Industry placements
{% endblock %}

{% block body_id %}tl-industry{% endblock %}


{% block content %}

<section id="tl-why-content-1" class="tl-background--purple">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets6.jpg" alt="" />
            </div>
            <div class="col-md-6">
                <div class="tl-box tl-box--purple">
                    <h2 class="text-center">Industry placements</h2>
                    <p>
                        An industry placement lasting at least 315 hours makes up 20% of every T Level. Students get hands-on experience of working in their chosen area. Employers get early sight of the new talent coming into their sector. Together they can start to build a stronger workforce for the future.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="tl-search">
    <div class="tl-container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="tl-search--content">
                    <h2 class="text-center tl-desktop-only"><span class="text-outline--white">Find a <span class="no-break">T Level</span></span><br /><span class="text-purple"> near you</span></h2>
                    <h2 class="text-center tl-tablet-down"><a href="/Find" class="tl-underline-none"><span class="text-outline--white">Find a </span><span class="text-purple tl-arrow--big">course near you</span></a></h2>
                    <form class="tl-search--form text-center tl-desktop-only" action="/find">
                        <label for="Postcode" class="hidden">Postcode</label>
                        <input asp-for="Postcode" class="tl-input" placeholder="Enter your postcode" aria-label="Enter a postcode to find a T-Level near you" />
                        <input id="tl-find-button" type="submit" class="tl-button tl-button--orange" value="Search" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tl-why-content-2" class="tl-container">
    <div class="row no-gutters">
        <div class="col-md-6 order-2">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Good for business</h2>
                <p>For employers, industry placements are:</p>
                    <ul class="tl-list">
                        <li>- a source of new talent with fresh, imaginative ideas</li>
                        <li>- a way to improve staff's mentoring and management skills</li>
                        <li>- a cost-effective option for entry-level jobs</li>
                        <li>- a chance to build partnerships with local schools and colleges</li>
                    </ul>
                <p><a href="https://www.gov.uk/guidance/industry-placements" class="tl-button">Find out more about industry placements (on GOV.UK)</a></p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-12">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets7.jpg" alt="T Levels are backed by business" />
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="tl-image--responsive" src="{{ asset_path }}images/TLevels_WebsiteAssets17.jpg" alt="" />
        </div>
        <div class="col-md-6">
            <div class="tl-box tl-box--white">
                <h2 class="text-center">Great for your career</h2>
                <p>For students, industry placements will:</p>
                <ul class="tl-list">
                    <li>- improve the knowledge and skills you need to get a job</li>
                    <li>- help you understand the world of work</li>
                    <li>- expand your professional network</li>
                    <li>- give you a competitive advantage over your peers in the job market</li>
                </ul>
            </div>
        </div>
    </div>

</section>
{% endblock %}