{% extends "v12/landing.html" %}
{% block pageTitle %}
  T Levels - The next level qualification
{% endblock %}
{% block content %}
    <section id="tl-landing" class="tl-addarrow--white--internal">
      <div class="tl-container">
            <div class="row no-gutters">
                <div class="col-lg-6 tl-landing-box tl-landing-box--zoom tl-landing-left">
                        <div >
                            <h1>THE NEXT LEVEL QUALIFICATION</h1>
                            <p class="tl-lede">T Levels are a new qualification after GCSE that will take your future to the next level.</p>
                            <a class="tl-button-employer tl-button-employer--orange" href="/{{ protoversion }}/student">I'm a student</a>
                        </div>
                </div>
                <div class="col-lg-6 tl-landing-box tl-landing-box--right tl-landing-right">
                        <div >
                            <h1>YOUR FUTURE WORKFORCE</h1>
                            <p class="tl-lede">T Levels include a 45-day industry placement that can help you find and develop new talent.</p>
                            <a class="tl-button-employer tl-button-employer--purple" href="/{{ protoversion }}/employer">I'm an employer</a>
                        </div>
                </div>
            </div>
      </div>
</section>


<section class="tl-employer--boxes-white">
    <div class="tl-container">

        <div class="row tl-margin-top-30 tl-margin-bottom-30">
            <div class="col-md-12 tl-landing-grid">
                <div class="row">
                    <div class="col-md-4 tl-landing-grid-left">
                        <h3><span><img class="tl-image--responsive tl-landing-arrow" src="{{ asset_path }}images/employer/arroworange.svg" alt="" /></span>EQUIVALENT TO 3 A LEVELS</h3>
                        <p>
                          T Levels are an alternative to A levels, apprenticeships and other 16 to 19 courses. Equivalent to 3 A levels, a T Level focuses on vocational skills and can help students into skilled employment, higher study or apprenticeships.
                        </p>
                    </div>
                    <div class="col-md-4 tl-landing-grid-mid">
                        <h3>
                            <span><img class="tl-image--responsive tl-landing-arrow" src="{{ asset_path }}images/employer/arrowpurple.svg" alt="" /></span>45-DAY INDUSTRY PLACEMENT
                        </h3>
                        <p >
                          Each T Level includes an in-depth industry placement that lasts at least 45 days. Students get valuable experience in the workplace; employers get early sight of the new talent in their industry.
                        </p>
                    </div>
                    <div class="col-md-4 tl-landing-grid-right">
                        <h3>
                            <span><img class="tl-image--responsive tl-landing-arrow" src="{{ asset_path }}images/employer/arroworange.svg" alt="" /></span>
                            80% CLASSROOM, 20% WORK
                        </h3>
                        <p>
                          T Level students spend 80% of the course in the classroom, learning the skills that employers need. The other 20% is a meaningful industry placement, where they put these skills into action.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>




{% endblock %}
